<ul class="nav">
  <li class="active"><a href="#">Home</a></li>
</ul>
<div class="pull-right">
  <ul class="nav pull-right">
      <li ><a href="{{ path('login') }}" >Login <b class="icon-lock"></b></a></li>
  </ul>
</div>