a_home:
    path:  /
    defaults: { _controller: metaAdminBundle:Admin:home }

# STATS
a_stats_home:
    path:  /stats/{start}/{end}
    defaults: { _controller: metaAdminBundle:Stats:home, start: null, end: null }
    requirements:
      start: "[0-9]{4}-[0-9]{2}-[0-9]{2}"
      end: "[0-9]{4}-[0-9]{2}-[0-9]{2}"

a_stats_users:
    path:  /stats/users/{start}/{end}
    defaults: { _controller: metaAdminBundle:Stats:statsUsers, start: null, end: null }
    requirements:
      start: "[0-9]{4}-[0-9]{2}-[0-9]{2}"
      end: "[0-9]{4}-[0-9]{2}-[0-9]{2}"

# ANNOUNCEMENTS
a_announcements:
    path:  /announcements
    defaults: { _controller: metaAdminBundle:Announcement:list }

a_announcements_new:
    path:  /announcements/new
    defaults: { _controller: metaAdminBundle:Announcement:create }

a_announcements_edit:
    path:  /announcements/edit/{uid}
    defaults: { _controller: metaAdminBundle:Announcement:edit }

a_announcements_delete:
    path:  /announcements/delete/{uid}
    defaults: { _controller: metaAdminBundle:Announcement:delete }

# ADMINISTRATE
a_communities:
    path:  /communities
    defaults: { _controller: metaAdminBundle:Communities:list }

a_extend_community:
    path:  /community/extend
    defaults: { _controller: metaAdminBundle:Communities:extend }
