{% extends '::base.html.twig' %}
{% set template = 'full' %}

{% block title %}{{ parent() }} > {{ "idea.title"|trans }}{% endblock %}

{% block container %}

<div class="wrapper">
  <header>
  {% block header %}{% endblock %}
  </header>
</div>

{% block content %}{% endblock %}

{% endblock %}
