{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} > {{ "idea.title"|trans }}{% endblock %}

{% block body %}
<header class="idea">
{% block header %}{% endblock %}
</header>
{% block navbar %}{% endblock %}
<div class="content idea clearfix">
{% block content %}{% endblock %}
</div>
<footer>
{% block footer %}{% endblock %}
</footer>
{% endblock %}
