{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} > {{ "idea.title"|trans }}{% endblock %}

{% block container %}

<header class="idea">
{% block header %}{% endblock %}
</header>

{% block navbar %}{% endblock %}

<div class="idea">
{% block content %}{% endblock %}
</div>

{% endblock %}
