{% extends 'metaStandardProjectProfileBundle::layout.html.twig' %}

{% block title %}Choose a slug{% endblock %}

{% block header %}
  <div class="headerAvatarAndActions">
    <div class="textAvatar"><i class="icon-search"></i></div>
  </div>
  <div class="objectHeader">
    <h2>Choose a slug</h2>
    <h4>You need to indicate a new slug for this project.</h4>
  </div>
{% endblock %}


{% block content %}
<div class="formContent">
  <form action="{{ path('sp_choose_slug', { 'targetAsBase64' : targetAsBase64 }) }}" method="post" class="form-horizontal">
      <div class="control-group ">
        <label class="control-label"><label for="slug" class="required">Choose a slug : </label></label>
        <div class="controls">
          <input type="hidden" name="name" id="name" value="slug"/>
          <input type="text" name="slug" id="slug" />
        </div>
      </div>
      <div class="form-actions">
        <a class="btn" href="javascript:history.back()">Cancel</a>
        <input type="submit" value="Choose" class="btn btn-success" />
      </div>
  </form>
</div>
{% endblock %}
