/* ******************************************************************** */
/*                                ALERTS                                */
/* ******************************************************************** */

.alertify {
  background: white;
  box-shadow: 0 0 0px 1000px hsla(0, 0%, 0%, 0.5);
}

.alertify-dialog {
  padding: 0;
}

.alertify-buttons {
  background: hsl(0, 0%, 96%);
  padding: 20px; 
}

.alertify-message {
  padding: 30px; 
  margin: 0;
}

.alertify-button {
  @include button();
  line-height: 1.5em;
}
.alertify-button-cancel,
.alertify-button-cancel:hover,
.alertify-button-cancel:focus {
  background-color: $_red;
}
.alertify-button-ok,
.alertify-button-ok:hover,
.alertify-button-ok:focus {
  background-color: $_green;
}

.alertify-log {
  background: rgba($_primary, 0.75);
  padding: 15px;
  border-radius: 4px;
  color: #FFF;
  text-shadow: -1px -1px 0 rgba(0,0,0,.5);
}
.alertify-log-error {
  background: rgba($_red, 0.85);
}
.alertify-log-success {
  background: rgba($_green, 0.85);
}

.alertify-text-wrapper {
  padding: 0px 20px;
  & > input {
    padding: 10px;
  }
}