<div class="navbar project">
  <div class="navbar-inner">
    <ul class="nav">
      {% for menuItem in menu %}
      <li{% if activeMenu == menuItem.name %} class="active"{% endif %}><a href="{{ path(menuItem.route, {'slug': slug}) }}">
        <i class="{{ menuItem.icon }}"></i> {{ ("project." ~ menuItem.name ~ ".title")|trans }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>