{% extends '::_base.html.twig' %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts '@metaGeneralBundle/Resources/public/js/non-auth.behaviour.js' 
          filter='?yui_js' %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block body %}
<body class="no-menu error">

<div class="content-container">

  <header class="non-auth">
    <h1><a href="{{ path('g_home_community')}}"><img src="{{ asset('/bundles/metageneral/img/logo/logo-128.png') }}" /><span>Igneet</span></a></h1>
  </header>
  
  {% block container %}{% endblock %}

</div>
  
{% endblock %}
