{% extends 'metaStandardProjectProfileBundle:Default:show.html.twig' %}

{% block title %}{{ parent() }} | Restricted Area{% endblock %}

{% block content %}
<section class="restricted">
<i class="muted icon-minus-sign icon-4x"></i>
<br />This area is restricted.
</section>
{% endblock %}