{% extends 'metaStandardProjectProfileBundle:Default:show.html.twig' %}

{% block title %}{{ parent() }} > {{ base.standardProject.name }} | Restricted Area{% endblock %}

{% block content %}
<section>
This area is restricted.
</section>
{% endblock %}