{% extends '::base-admin.html.twig' %}

{% block title %}Administration{% endblock %}

{% block container %}

<div class="wrapper">
  <header>
  {% block header %}
    <h1>Administration</h1>
  {% endblock %}
  </header>
</div>

{% block content %}{% endblock %}

{% endblock %}
