{% set count = object.comments|length %}
<div class="label-comments">{{ "comments.count"|transchoice(count, {'%count%': count}) }}</div>
<div class="content-full">

    {% include 'metaGeneralBundle:Comment:commentBox.html.twig' %}

    <ul class="timeline">
    {% spaceless %}
    {% for comment in object.comments %}
        {% include 'metaGeneralBundle:Log:logItemComment.html.twig' %}
    {% endfor %}
    {% endspaceless %}
    </ul>

</div>
