{% extends 'metaUserProfileBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > Change your password{% endblock %}

{% block header %}
  <div class="headerAvatarAndActions">
    <div class="textAvatar"><i class="icon-lock"></i></div>
  </div>
  <div class="objectHeader">
    <h2>Password change</h2>
    <h4>Please update your password</h4>
  </div>
{% endblock %}

{% block content %}
{% if error %}
<div class="alert alert-error">{{ error.message }}</div>
{% endif %}
<form action="{{ path('change_password', { 'token' : token }) }}" method="POST">
  <section>
    <div class="sectionTitle"><label for="password">New password :</label></div>
    <div class="sectionContent">
      <input type="password" id="password" name="password" value=""/>
    </div>
  </section>
  <section>
    <div class="sectionTitle"><label for="password_2">Please confirm :</label></div>
    <div class="sectionContent">
      <input type="password" id="password_2" name="password_2" value=""/>
    </div>
  </section>
  <section>
    <div class="sectionTitle"></div>
    <div class="sectionContent">
      <input type="submit" name="{% if flavour == 'reactivate' %}Reactivate my account{% else %}Change my password{% endif %}" class="btn btn-info"/>
    </div>
  </section>
</form>
{% endblock %}