{% extends 'metaUserProfileBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > Invite a user{% endblock %}

{% block header %}
  <div class="headerAvatarAndActions">
    <div class="textAvatar"><i class="icon-envelope"></i></div>
  </div>
  <div class="objectHeader">
    <h2>Invite a user</h2>
    <h4>You need to indicate a valid e-mail address to invite a new user.</h4>
  </div>
{% endblock %}


{% block content %}
<div class="formContent">
  <form action="{{ path('invite') }}" method="post" class="form-horizontal">
      <div class="control-group ">
        <label class="control-label"><label for="mail" class="required">Indicate a valid e-mail : </label></label>
        <div class="controls">
          <input type="text" id="mail" name="mail" required="required">
        </div>
      </div>
      <div class="form-actions">
        <a class="btn" href="javascript:history.back()">Cancel</a>
        <input type="submit" value="Invite this user" class="btn btn-success" />
      </div>
  </form>
</div>
{% endblock %}
