{% extends 'metaProjectBundle:Project:show.html.twig' %}

{% block title %}{{ parent() }} | {{ "restricted.title"|trans }}{% endblock %}

{% block content %}
<section class="centered">
<i class="muted fa fa-minus-circle fa-4x"></i>
<br />{{ "restricted.text"|trans }}
</section>
{% endblock %}