parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: null
    database_name: igneet
    database_user: user
    database_password: password
    mailer_transport: smtp
    mailer_host: smtp
    mailer_user: user
    mailer_password: password
    locale: en
    secret: 0
    database_path: null
    enable_static_site: false
    mailer_from: null
    mailer_from_name: Igneet
    mailer_contact: null
    mailer_admin: null
    ga_tracker_id: 0
    host: igneet.com
    scheme: http
    elastic_host: localhost
    elastic_port: 9200
    elastica_auth_header: ""
    shared_projects: []
    uservoice_enabled: false
    uservoice_id: null
    version: "CURRENT_VERSION"