security:
    encoders:
        meta\UserProfileBundle\Entity\User:
            algorithm: sha1
            encode-as-base64: false
            iterations: 1

    role_hierarchy:
        ROLE_ADMIN: [ROLE_USER]
        ROLE_SUPER_ADMIN: [ROLE_USER, ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

    providers:
        user_db:
            entity: { class: meta\UserProfileBundle\Entity\User, property: username }

    firewalls:
        assets_and_dev:
            pattern:    ^/(_profiler|_wdt|css|js)
            security: false
        # login_firewall:
        #     pattern:    ^/login$
        #     anonymous:  ~
        # signup_firewall:
        #     pattern:    ^/signup$
        #     anonymous:  ~
        main:
            pattern:    ^/
            provider: user_db
            form_login:
                login_path: /login
                check_path: /login_check
                remember_me: true
            logout:
                path: /logout
                target: /
            remember_me:
                key: iGnEeT
                lifetime: 86400
                path: /.*
                domain: ~
            security: true
            anonymous: ~
    access_control:
        - { path: /login.*, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: /signup, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: /.*, roles: ROLE_USER }