{% spaceless %}
<ul>
  <li><a href="{{ path('a_home') }}">Administration</a></li>
  <li><a href="{{ path('a_stats_home') }}">Statistics</a></li>
  <li><a href="{{ path('a_communities') }}">Communities</a></li>
</ul>
{% endspaceless %}