{% spaceless %}
<ul>
  <li><a href="{{ path('a_home') }}"><i class="fa fa-home"></i></a></li>
  <li><a href="{{ path('a_stats_home') }}"><i class="fa fa-bar-chart-o"></i></a></li>
  <li><a href="{{ path('a_communities') }}"><i class="fa fa-group"></i></a></li>
  <li><a href="{{ path('a_announcements') }}"><i class="fa fa-bullhorn"></i></a></li>
</ul>
{% endspaceless %}