{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} > {{ "user.title"|trans }}{% endblock %}

{% block container %}

<header class="user">
{% block header %}{% endblock %}
</header>

<div class="user">
{% block content %}{% endblock %}
</div>

{% endblock %}
