/* ******************************************************************** */
/*                            ADMIN STRUCTURE                           */
/* ******************************************************************** */

/* Announcements color */
.announcement-info { color: $_blue; }
.announcement-warning { color: $_blue; }
.announcement-technical { color: $_green; }

.tiles > section > div.tile {

  $total: 270px;

  @include span-columns(4 of 12);
  &:nth-child(3n) { @include omega; }

  background: $_container;
  height: $total;

  & > * {
    @include fill-parent();
    display: block;
    padding: $gutter;
  }

  & > .label {
    & > h2 {
      margin: 0;
    }
    height: 60px;
  }

  & > .content {
    padding-top: 0;
    height: ($total - 60px - 110px);
    & > p {
      margin: 0;
      color: $_discrete;
    }
  }

  & > .actions {
    height: 110px;
    background: $_sensible;
  }

}

.datepicker {
  input, label {
    display: inline-block;
    width: auto !important;
    border: none !important;
    padding: 0.5em;
  }
}