@charset "UTF-8";

// Libs
@import "reset/_normalize";
@import "bourbon/_bourbon"; 
@import "_fonts";
@import "_font-awesome";
@import "_variables";
@import "_mixins";
@import "neat/_neat";
@import "alertify/_alertify";
@import "dropzone/dropzone";
@import "redactor/_redactor";
@import "imgareaselect/jquery.imgareaselect";

body {
  font-weight: 300;
}

a {
  color: $_primary;
  cursor: pointer;
  text-decoration: none;
  &:hover { color: darken($_primary, 10%); }
}
menu, nav {
  a:hover { color: $_muted; }
}
h1, h2, h3, h4, h5, h6, p { font-weight : normal;  }
em { color: $_muted; }

/* STANDARD LOGOS & SIZES */
@for $i from 4 through 9 {
  $size: pow(2,$i);
  .logo-igneet-#{$size} {
    width: #{$size}px;
    height: #{$size}px;
    display: inline-block;
    margin-right: #{$size/8}px;
    vertical-align: middle;
    background: 0 0 transparent url('#{$img-path}logo/logo-#{$size}.png') no-repeat;
  }
}

/* Communities color */
.community-demo { color: $_orange; }
.community-association { color: $_blue; }
.community-entreprise { color: $_green; }
.community-expired { color: $_red; }

/* Buttons */
a.button, input[type=submit].button, button {
  @include button();
}

// Structure card && full
@import "styles/structure";
  /* Structure specific */
  @import "styles/card";
  @import "styles/full";

@import "styles/inputs";
@import "styles/non-auth";
@import "styles/menubar";

@import "styles/editable";

// Tables used in lists of objects
@import "styles/tables";

@import "styles/pagination";
@import "styles/social";

@import "styles/_timeline";

// Page-specific
@import "styles/settings";
@import "styles/user";
@import "styles/projects";

// dans proejcts

.label-progress {
 
  height: 3px;
  background: $_sensible;
  margin-bottom: 10px;

  & > span {
    display: block;
    height: 100%;
    @include linear-gradient(to right, yellow, $_green);
    background-attachment: fixed;
  }

}

.slip {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  & > li {
    @include row();
    background: $_sensible;
    font-family: 'gotham_light';
    margin-bottom: 4px;
    border-right: 2px solid $_discrete;
    &.done {
      color: $_discrete;
      background: lighten($_sensible, 2%);
      border-right: 2px solid $_green;
      & > .item > span:not(.date) {
        text-decoration: line-through;
      }
    }
    &.new {
      height: 40px;
      padding: 10px;
      color: $_primary;
      & > input {
        border: none;
        color: $_primary;
        background: none;
        @include placeholder { 
          color: $_primary;
        }
        &:focus {
          background: lighten($_primary, 50%);
        }
      }
    }
    & > .item {
      @include span-columns (10 of 12);
      padding: 10px;
      & > .date {
        text-transform: uppercase;
        color: $_text-secondary;
        display: block;
        margin-top: 5px;
        font-size: 0.7em;
        font-family: 'gotham_medium';
        vertical-align: baseline;
      }
    }
    & > .actions {
      @include span-columns(1 of 12);
      padding: 20px 10px;
      text-align: center;
    }
    & > .instant {
      @include span-columns(1 of 12);
      padding: 20px 10px;
      @include omega;
      cursor: pointer;
      text-align: center;
    }
  }
}

.slip-reordering {
    box-shadow: 0 2px 10px rgba(0,0,0,0.45);
}
.slip-swiping-container {
    overflow-x: hidden;
}

// community

.community div { 
  & > section {
    @include span-columns(9 of 12);
  }
  & > div.aside {
    @include span-columns(3 of 12);
    @include omega;
    border-left: 1px dashed $_discrete;
    padding-left: $gutter;
    margin-top: 20px;
    & > div > a.button {
      width: 100%;
      &:first-child {
        margin-top: 20px;
      }
    }
    & > .users {
      & > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        & > li {
          display: inline-block;
          opacity: 0.35;
          &:hover {
            opacity: 0.75;
          }
          &.online {
            opacity: 1;
            position: relative;
            &:after{
              content: "";
              position: absolute;
              background: $_green;
              height: 10px;
              width: 10px;
              border-radius: 50%;
              border: 1px solid white;
              top: -4px;
              right: -4px;
              box-shadow: 0 0 3px black;
            }
          }
        }
      }
    }
    & > .objects {
      & > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        & > li em {
          display: block;
          font-family: 'gotham_medium';
          font-size: 0.8em;
          margin-bottom: 10px;
          vertical-align: baseline;
        }
      }
    }
  }

}

// Admin
@import "_admin";

