// Libs
@import "reset/_normalize";
@import "bourbon/_bourbon"; 
@import "_fonts";
@import "_font-awesome";
@import "_variables";
@import "_mixins";
@import "neat/_neat";

body {
  background-color: $_background; 
  font-family: 'gotham_book', 'Arial', sans-serif;
}

/* Helper to account for pages that contain no navbar, and thus don't need a top margin for the body */
body div.push-wrapper{ margin-top: $navbar-height; }

footer {
  text-align: center;
  padding: $gutter/2;
  margin-top: $gutter*2;
  font-size: 0.8em;
}

a {
  color: $_primary;
  text-decoration: none;
}

input { border: none; }

/* STANDARD LOGOS & SIZES */
@for $i from 4 through 9 {
  $size: pow(2,$i);
  .logo-igneet-#{$size} {
    width: #{$size}px;
    height: #{$size}px;
    display: inline-block;
    margin-right: #{$size/8}px;
    vertical-align: middle;
    background: 0 0 transparent url('#{$img-path}logo/logo-#{$size}.png') no-repeat;
  }
}

/* CONTENT CONTAINER */
.content-container {
  margin: 0 auto;
  width: $main-width;
  @include media($tablet, $mobile) { 
    width: 100%;
    padding: 0px 15px;
  }
  @include outer-container();
}

/* ERRORS AND ALERTS */
.error {
  @include up-triangle(20px, $_error, left);
  color: $_text;
  background-color: $_error;
}

@import "styles/login";
@import "styles/navbar";


@mixin nav-button() {
  border: 1px solid $_navbar_border;
  border-left: none;
  border-right: none;
  @include linear-gradient($_navbar-gradient_first, $_navbar-gradient_last);
  @include emboss-box($_navbar-shadow_top, $_navbar-shadow_bottom);
  &:hover{
    @include linear-gradient(darken($_navbar-gradient_first, 2%), darken($_navbar-gradient_last, 2%));
  }
  &:active{
    @include linear-gradient(darken($_navbar-gradient_first, 2%), darken($_navbar-gradient_last, 6%));
  }
  &:first-child{
    border-radius: $navbar-item-border-radius 0 0 $navbar-item-border-radius;
    border-left: 1px solid $_navbar_border;
  }
  &:last-child{
    border-radius: 0 $navbar-item-border-radius $navbar-item-border-radius 0;
    border-right: 1px solid $_navbar_border;
  }
}

$navbar-inner-height: ($navbar-height - $navbar-padding*2);
nav {

  height: $navbar-height;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: $navbar-padding;
  background-color: $_navbar-background;
  border-bottom: 1px solid $_navbar_border;
  box-shadow: 0 0 3px $_navbar-background;
  
  & a { color: $_text; vertical-align: top; } // All links are in color $_text in the navbar

  /* inline list */
  & > ul {

    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;

    & > li {
      display: inline-block;
      height: $navbar-inner-height;
      position: relative;
    
      /* Sub menu */
      & > li.dropdown > ul {

        @include up-triangle(20px, $_navbar-gradient_last, right);
        border: 1px solid $_navbar_border;
        background: $_navbar-gradient_last;
        list-style: none;
        float: left;
        right: 0;
        margin: 2px 0 0;
        min-width: 200px;
        padding: 5px 0;
        position: absolute;
        top: 100%;
        z-index: 1000;
        border-radius: $navbar-item-border-radius;

        & > li {
          padding: 5px 10px;
        }
        & > li.divider {
          background-color: $_navbar_border;
          height: 1px;
          padding: 0;
          margin: 9px 0;
          overflow: hidden;
        }

      }

    }

  }

  & > a {
    @include logo(30);
    display: inline-block;
    padding: 8px;
  }

  & > ul.user {
    float: right;
  }

  & > ul > li { 

    @include nav-button;

    & > a {

      display: inline-block;

      & > img{
        border-radius: $navbar-item-border-radius 0 0 $navbar-item-border-radius;
        border-right: 1px solid $_navbar_border;
        height: ($navbar-inner-height - 2); // accountfs for border : 1px
      }
      & > div.notifications {
        overflow: hidden; // Drops the pseudo margin on top of the list li element
        position: relative;
        line-height: ($navbar-inner-height - 2); //see above
        color: $_navbar-background;
        border-left: 1px solid $_navbar-background;
        min-width: $navbar-inner-height;
        padding-right: 3px;
        text-align: center;
        @include emboss-text($_navbar-background);
      }
      & > #notificationsCount{
        $size_notificationsCount : 18px;
        position: absolute;
        right: 3px;
        top: 3px;
        width: $size_notificationsCount;
        height: $size_notificationsCount;
        border-radius: $size_notificationsCount;
        font-size: 0.65em;
        line-height: 1.7em;
        text-align: center;
        text-shadow: none;
        text-shadow: none;
        background-color: $_primary;
      }

    }

    & > a {
      & > span {
        @include ellipsis(150px);
        @include emboss-text($_text);
        display: inline-block;
        line-height: ($navbar-inner-height - 2); //see above
        padding: 0 $navbar-padding;
      }
    }
    &.dropdown > a {
      &:after {
        content: "";
        display: inline;
        @include triangle(8px, $_text, down);
        margin-right: $navbar-padding;
      }
    }
    &.home {
      border-right: 1px solid $_navbar-background;
    }

  }

}



