@charset "UTF-8";

// Libs
@import "reset/_normalize";
@import "bourbon/_bourbon"; 
@import "_fonts";
@import "_font-awesome";
@import "_variables";
@import "_mixins";
@import "neat/_neat";
@import "alertify/_alertify";
@import "redactor/_redactor";
@import "imgareaselect/jquery.imgareaselect";

body {
  font-weight: 300;
}

a {
  color: $_primary;
  text-decoration: none;
  &:hover { color: darken($_primary, 10%); }
}
menu, nav {
  a:hover { color: $_muted; }
}
h1, h2, h3, h4, h5, h6, p { font-weight : normal;  }
em { color: $_muted; }

/* STANDARD LOGOS & SIZES */
@for $i from 4 through 9 {
  $size: pow(2,$i);
  .logo-igneet-#{$size} {
    width: #{$size}px;
    height: #{$size}px;
    display: inline-block;
    margin-right: #{$size/8}px;
    vertical-align: middle;
    background: 0 0 transparent url('#{$img-path}logo/logo-#{$size}.png') no-repeat;
  }
}

/* Communities color */
.community-demo { color: $_orange; }
.community-association { color: $_blue; }
.community-entreprise { color: $_green; }
.community-expired { color: $_red; }

/* Buttons */
a.button, input[type=submit].button, button {
  @include button();
}

@import "styles/structure";

@import "styles/inputs";
@import "styles/non-auth";
@import "styles/menubar";

@import "styles/editable";


// IN STRUCTURE

$horizontal-padding: 70px;
body > .content-container header {

  @include row();
  padding-top: $horizontal-padding;
  padding-bottom: ($horizontal-padding - $gutter);
  @include media($tablet, $mobile) {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  & > .avatar {
    position: relative;

    & > img {
      @include fill-parent;
      border-radius: 50%;
    }
    & > a {
      position: absolute;
      display: none;
      top: 50%;
      left: 50%;
      text-shadow: 0 0 5px black;
      margin: -1em 0 0 0.5em;
      &:first-of-type {margin: -1em 0 0 -2em;}
      &:hover {
        color: $_text-dark;
      }
    }
    &:hover > a { display: block; }
  }

  & > .info {

    & > div { position: relative; }
    & .skills {

      span {
        display: inline-block;
      }

      ul {
        list-style: none;
        margin: 0; 
        padding: 0;
        font-size: 0.9em;
        display: inline-block;
        color: $_text;

        & > li {
          display: inline-block;
          padding: 3px 4px;
          margin: 2px;
          border-radius: $border-radius;
          border: 1px solid $_muted;
          position: relative;
          & a {
            color: $_muted;
            display: inline-block;
            &:hover { color: $_text; }
          }
          & > span > input { 
            width: initial; 
            border: none;
            padding: 0; 
            margin-left: 4px;
            &.valid { color: $_green; }
          }
          & > ul#results {
            background: white;
            border-radius: $border-radius;
            display: block;
            position: absolute;
            top: 21px;
            left: 15px;
            & > li { 
              display: block; 
              cursor: pointer;
              &:hover { background: $_muted;}
            }
          }
        }
      }
    }
  }

  & > .info, & > .title {
    & > h2 {
      color: $_primary;
      font-size: 2.5em;
      margin: 0 0 10px 0;
      span {
        display: inline-block;
        @include ellipsis(100%);
      }
    }
    & > h3 {
      color: $_discrete;
      font-size: 1.5em;
      margin: 5px 0 10px 0;
    }
    & > h4 {
      color: $_muted;
      margin: 5px 0 10px 0;
      @include clearfix;
    }

    & > div {
      margin: 0 0 20px 0;
      color: $_muted;
    }

  }

}

/* When sections are directly under the container, and wrapped in another tag */
body > .content-container section {
  
  border-top: 1px solid lighten($_background,2%);
  padding-top: $gutter*2;
  padding-bottom: $gutter*2;

  &:first-of-type { border-top: 1px solid $_background; }
  &:last-of-type { padding-bottom: $horizontal-padding; }
  
  & > .content {
    color: $_text-secondary;
    @include span-columns(7 of 10);
    @include clearfix;
    @include media($tablet) {
      @include span-columns(3 of 4);
      @include shift(0);
    }
    @include media($mobile) {
      @include fill-parent();
      @include shift(0);
    }
    & > .actions {
      a:first-child {
        @include span-columns(3 of 7);
        @include media($tablet) {
          @include span-columns(1 of 3);
        }
        @include media($mobile) {
          @include fill-parent();
        }
      }
      a:last-child {
        @include shift(4 of 7);
        @include span-columns(3 of 7);
        @include media($tablet) {
          @include span-columns(1 of 3);
          @include shift(2 of 3);
        }
        @include media($mobile) {
          @include fill-parent();
          @include shift(0);
        }
      }
      a + a:last-child {
        @include shift(1 of 7);
        @include media($tablet) {
          @include shift(1 of 3);
        }
        @include media($mobile) {
          @include shift(0);
        }
      }
    }
    & em { 
      padding: 10px 0 5px 0;
      display: block;
      font-size: 0.85em;
      &.error { color: $_red; }
      &.help { color: $_muted; }
      & + em {
        padding-top: 0;
      }
    }
  }
  & > .content-full {
    @include fill-parent();
    @include shift(0);
  }
}

/* Remove the border when an <aside> is present before the <section> */
body > .content-container aside + section,
body > .content-container aside + section:first-of-type { border: none; }


/* Aside spans the full width of the card container */
body > .content-container aside {

  @include row();   
  @include fill-parent();
  @include clearfix;
  @include pad($column);

  padding-top: $gutter*2;
  padding-bottom: $gutter*2;

  background: lighten($_background, 2%);
  position: relative;

  & .close {
    position: absolute;
    top: $gutter/2;
    right: $gutter;
    color: $_muted;
    font-size: 2em;
    cursor: pointer;
    &:hover { color: $_secondary; }
  }
  & > .content-full {
    & ul { 
      list-style-type: none; 
      & > li a {
        $image-size: 20px;
        line-height: $image-size;
        & > img { vertical-align: top; width: $image-size; height: $image-size; display: inline-block; }
      }
    }
  }
}

/* 
 * Structure specific
 */

//@import "styles/card";
body.card > .content-container header {

  & > .avatar {
    @include span-columns(2);
    @include shift(1);
    position: relative;
    @include media($tablet) {
      @include span-columns(1);
      @include shift(0);
    }
    @include media($mobile) {
      display: none;
    }
  }

  & > .info {
    @include span-columns(7);
    @include shift(1);
    @include media($tablet) {
      @include span-columns(3 of 4);
      @include omega;
      @include shift(0);
    }
    @include media($mobile) {
      @include fill-parent();
    }
  }

  & > .title {
    @include span-columns(10);
    @include shift(1);
    @include media($tablet, $mobile) {
      @include shift(0);
      @include fill-parent();
    }
  }

  & > .info, & > .title {
    & > h4 {
      div:first-child {
        @include span-columns(3 of 7);
        @include ellipsis($column*3);
        @include media($mobile) {
          @include fill-parent();
        }
      }
      div:last-child {
        @include span-columns(4 of 7);
        @include media($mobile) {
          @include fill-parent();
        }
      }
    }
  }

}

body.card > .content-container section {

  @include row();   
  @include span-columns(10);
  @include shift(1);
  @include clearfix;

  @include media($tablet, $mobile) {
    @include fill-parent();
    @include shift(0);
    padding-top: $gutter;
    padding-bottom: $gutter;
  }

  & > .label {
    @include span-columns(3 of 10);
    @include media($tablet) {
      @include span-columns(1 of 4);
      @include shift(0);
    }
    @include media($mobile) {
      @include fill-parent();
      @include shift(0);
      margin-bottom: 5px;
    }
    & > .label {
      color: $_discrete;
      & > h2 { color: $_text-secondary; }
    }
  }

}

/* When sections are wrapped in a FORM container */
body.card > .content-container form > section {

  padding-top: $gutter/2;
  padding-bottom: $gutter/2;
  border-top: none;

  &:first-of-type {
    border-top: 1px solid $_background;
    padding-top: $gutter*2;
  }
  &:last-of-type {
    padding-bottom: $horizontal-padding;
  }

  & > .label {
    @include shift(1 of 10);
    text-align: right;
    @include media($tablet) {
      @include span-columns(1 of 4);
      @include shift(0);
      text-align: left;
    }
    @include media($mobile) {
      @include fill-parent();
      @include shift(0);
      text-align: left;    
    }
  }
  & > .content {
    @include span-columns(3 of 10);
    @include shift(4);
    @include media($tablet) {
      @include span-columns(3 of 4);
      @include shift(1);
    }
    @include media($mobile) {
      @include fill-parent();
      @include shift(0); 
    }
    & input.error { border-color: $_red; }
  }
  & > .label + .content {
    @include shift(0);
  }
}

//@import "styles/full";
body.full > .content-container header {

  & > .avatar {
    @include span-columns(2);
    @include media($tablet) {
      @include span-columns(1);
    }
    @include media($mobile) {
      display: none;
    }
  }

  & > .info {
    @include span-columns(10);
    @include omega;
    @include shift(0);
    @include media($tablet) {
      @include span-columns(3 of 4);
      @include omega;
    }
    @include media($mobile) {
      @include fill-parent();
    }
  }

  & > .title {
    @include fill-parent();
    @include media($tablet, $mobile) {
      @include fill-parent();
    }
  }

  & > .info, & > .title {
    & > h4 {
      div:first-child {
        @include span-columns(5 of 10);
        @include ellipsis($column*5);
        @include media($mobile) {
          @include fill-parent();
        }
      }
      div:last-child {
        @include span-columns(5 of 10);
        @include media($mobile) {
          @include fill-parent();
        }
      }
    }
  }

}

body.full > .content-container nav {
  @include clearfix;
  @include fill-parent();
  & > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'gotham_bold';
    & > li {
      padding: $gutter;
      display: inline-block;
      & > a {
        color: $_discrete;
      }
      &.active {
        background: $_background;
      }
      &:hover:not(.active) {
        background: $_sensible;
      }
    }
  }

}

body.full > .content-container section {

  @include row();
  border-top: none;

  @include media($tablet, $mobile) {
    padding-top: $gutter;
    padding-bottom: $gutter;
  }

  &.none {
    padding: 100px;
    text-align: center;
  }

  & > .label {
    @include fill-parent();
    margin: 20px 0;
    padding-bottom: 20px;
    font-size: 1.7em;
    border-bottom: 1px solid $_sensible;
  }

  & > ul.content-full {
    $width: 3; // in nb of columns
      $pad: $gutter*$width/4;
      $inner_size: ($column*$width/2 - $pad*2);
    margin: 0;
    padding: 0;
    list-style-type: none;
    & > li {
      display: inline-block;
      padding: $pad;
      margin-bottom: $pad;
      position: relative;
      @include span-columns($width of 12);
      &:nth-child(#{12/$width}n) { @include omega; }
      height: $inner_size;
      background: $_sensible-dark;
      & > a {
        color: $_text-dark;
        display: block;
        & > img {
          border-radius: 50%;
          height: ($inner_size - $pad*2);
          width: ($inner_size - $pad*2);
          vertical-align: top;
          float: left;
        }
        & > i {
          display: inline-block;
          float: left;
          font-size: 1.375em*$width;
          color: $_muted;
        }
        & > div {
          display: table-cell;
          height: ($inner_size - $pad*2);
          vertical-align: middle;
          font-size: 1.2em;
          padding-left: $pad;
          & * {
            @include ellipsis($inner_size + $pad*2);
          }
        }
        &.remove {
          position: absolute;
          right: 10px;
          top: 0;
          font-size: 2em;
          line-height: $inner_size;
          &:hover { color: $_secondary; }
        }
      }
      &:hover{
        background: $_text-secondary;
      }
    }
  }
}


// Page-specific :
@import "styles/settings";
@import "styles/user";

// @import "styles/tables"
$images_size: 80px;
table {
  text-align: left;
  font-family: 'gotham_light';
  width: 100%;
  thead {
    font-family: 'gotham_book';
    border-top: 1px solid $_sensible;
    border-bottom: 1px solid $_sensible;
    text-transform: uppercase;
    color: $_text-secondary;
    font-size: 0.75em;
    font-weight: 200;
    & tr {
      height: $gutter*2;
    }
    & th {
      padding: 0 $gutter;
      &:first-of-type { padding: 0; }
    }
  }
  tbody tr {
    height: 140px;
    border-bottom: 1px solid $_sensible;
    &:hover { background: $_container; }
    & td {
      min-width: ($column*2 - $gutter);
      @include media(tablet) {
        width: $column;
      }
      padding: 0 $gutter;
      color: $_discrete;
      font-size: 0.9em;
      &:first-of-type { 
        padding-right: 0;
        min-width: $images_size;
      }
      &.main {
        color: $_text;
        font-family: 'gotham_medium';
        font-size: 1.1em;
        min-width: ($column*5 - $gutter); // prevention ...
      }
      & > a {
        height: $images_size;
        color: $_text;
        & > div {
          display: table-cell;
          height: $images_size;
          vertical-align: middle;
          & > span {
            @include ellipsis($column*5 - $gutter*2.5); // prevention ...
            display: block;
          }
          & > span.headline {
            color: $_discrete;
            font-family: 'gotham_book';
            font-weight: 400;
            font-size: 0.8em;
          }
        }
      }
    }

    & img {
      height: simages_size;
      width: simages_size;
      vertical-align: top;
      display: inline-block;
      border-radius: $border-radius/2;
    }
  }
}

// @import "styles/pages"

.pagination {
  @include row();
  @include fill-parent();
  background: $_container;
  text-align: center;
  color: $_muted;
  padding: 15px;
  margin-top: $gutter*1.5;
}

// @import "styles/idea"
.watchers,
.followers {
  @include count-badge(18px, "left", -10px, -7px);
}
