@charset "UTF-8";

// Libs
@import "reset/_normalize";
@import "bourbon/_bourbon"; 
@import "_fonts";
@import "_font-awesome";
@import "_variables";
@import "_mixins";
@import "neat/_neat";
@import "alertify/_alertify";
@import "redactor/_redactor";
@import "imgareaselect/jquery.imgareaselect";

body {
  font-weight: 300;
}

a {
  color: $_primary;
  cursor: pointer;
  text-decoration: none;
  &:hover { color: darken($_primary, 10%); }
}
menu, nav {
  a:hover { color: $_muted; }
}
h1, h2, h3, h4, h5, h6, p { font-weight : normal;  }
em { color: $_muted; }

/* STANDARD LOGOS & SIZES */
@for $i from 4 through 9 {
  $size: pow(2,$i);
  .logo-igneet-#{$size} {
    width: #{$size}px;
    height: #{$size}px;
    display: inline-block;
    margin-right: #{$size/8}px;
    vertical-align: middle;
    background: 0 0 transparent url('#{$img-path}logo/logo-#{$size}.png') no-repeat;
  }
}

/* Communities color */
.community-demo { color: $_orange; }
.community-association { color: $_blue; }
.community-entreprise { color: $_green; }
.community-expired { color: $_red; }

/* Buttons */
a.button, input[type=submit].button, button {
  @include button();
}

// Structure card && full
@import "styles/structure";
  /* Structure specific */
  @import "styles/card";
  @import "styles/full";

@import "styles/inputs";
@import "styles/non-auth";
@import "styles/menubar";

@import "styles/editable";

// Tables used in lists of objects
@import "styles/tables";

@import "styles/pagination";
@import "styles/social";

// @import "styles/_timeline";

.label-comments {
  @include fill-parent();
  margin: 0 0 30px;
  color: $_primary;
  font-size: 1.8em;
}

.comment {
  @include row();
  @include clearfix;
  & > .avatar {
    @include span-columns(1 of 12);
    & > img {
      border-radius: 50%;
      height: $column - $gutter;
      width: $column - $gutter;
    }
    @include media ($tablet, $mobile) {
      display: none;
    }
  }
  & > form {
    @include span-columns(11 of 12);
    @include media ($tablet, $mobile) {
      @include fill-parent();
    }
    & > textarea {
      margin-top: 0;
      margin-bottom: 0;
      @include span-columns(12 of 12);
      @include media ($desktop) {
        @include omega;
      }
      @include media ($tablet) {
        @include span-columns(3 of 4);
      }
      @include media ($mobile) {
        @include fill-parent();
        height: $column - $gutter;
      }
      border: none;
      background: white;
      height: $column - $gutter;
      resize: none; 
    }    
    & > input[type=submit] {
      margin: 14px 0;
      @include span-columns(2 of 12);
      @include shift(10);
      @include media ($tablet) {
        @include shift(0);
        @include span-columns(1 of 4);
        margin-top: 0;
        height: $column - $gutter;
      }
      @include media ($mobile) {
        @include shift(0);
        @include fill-parent();
      }
    }
  }
}

$comment_box_height : 70px;
ul.timeline {
  margin: 0;
  padding: 0;
  list-style-type: none;
  @include fill-parent();
  & > li { 
    position: relative;
    @include fill-parent();
    &.step {
      margin: 50px 0;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.2em;
      color: $_discrete;
    }
    &:not(.step) {
      min-height: $comment_box_height + $gutter*2;
      background: $_container;
      display: block;
      margin: $gutter/2 0;
      padding: $gutter;
    }
    & > i {
      color: $_muted;
      display: inline-block;
      margin-left: $gutter/2;
      font-size: 0.8em;
    }
    & > .avatar {
      float: left;
      margin-right: $gutter;
      & img { border-radius: 50%; height: $comment_box_height; width: $comment_box_height; }
    }
    & > .date {
      color: $_text-secondary;
      display: inline-block;
      margin-bottom: $gutter/2;
      font-size: 0.8em;
      font-family: 'gotham_medium';
      vertical-align: baseline;
    }
    & > .actions {
      // actions : validate and delete for comments
      position: absolute;
      right: $gutter;
      top: $gutter/2;
      & > .validation > .validate-trigger + span {
        display: inline-block;
        margin: 0 10px;
        color: $_discrete;
      }
      & > .delete-trigger {
        display: inline-block;
        padding-left: 10px;
        border-left: 1px solid $_sensible;
        color: $_sensible;
      }
    }
    & > .text {
      font-family: 'gotham_light';
      font-size: 0.9em;
      display: block;
    }
    & > .count {
      padding-left: 5px;
    }
    &.deleted {
      @include media($tablet, $mobile) {
        display: none;
      }
    }
  }
  &.notifications {
    @include clearfix;
    & > li:not(.step) { border: 1px solid rgba($_sensible,0.5); }
    & > li.unseen { 
      background: rgba($_secondary,0.1);
      border: 1px solid $_secondary;
    }
  }
}

// For comments in a full page, on a dark background
.wrapper.comment {
  .comment {
    margin-bottom: $gutter*1.5;
    & > form > textarea { 
      background: $_sensible-dark; 
      color: white;
    }
  }
  ul.timeline {
    & > li {
      & > .date { color: $_primary; }
      & > .actions { top: $gutter; }
    }
    & > li:not(.step) {
      min-height: $comment_box_height + $gutter*1.5*2;
      background: none;
      margin: 0;
      padding: $gutter*1.5 $gutter;
      border-top: 2px solid $_sensible-dark;
    }
  }
}

section.notifications.none {
  text-align: center;
}

// Page-specific
@import "styles/settings";
@import "styles/user";
@import "styles/projects";

// Tree

.tree {
  width: 0px;
  height: 0px;
  position: absolute;
  &.open {
    @include span-columns(5 of 12);
    height: 100%;
    min-height: 170px;
    border-right: 1px dashed $_sensible;
    padding-right: 15px;
    position: relative;
  }
  & > span { 
    display: inline-block;
    font-family: 'gotham_light';
    line-height: 1.8em;
    margin-bottom: 20px;
    padding: 5px;
    text-transform: uppercase;
  }
  & > span ~ a {
    background: $_primary;
    color: white;
    display: block;
    position: absolute;
    padding: 5px 10px 6px 9px;
    top: 2px;
    right: 42px;
  }
  & > a.toggle {
    @include transition (transform 500ms ease-out);
    right: 10px;
  }
  & ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    & > li {
      border-top: 1px solid $_sensible;
      &:hover, &.active {
        background: white;
      }
      & > *:not(ul) { 
        display: inline-block;
        color: $_discrete;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      & > a.page_title {
        padding-left: 15px;
        &:hover { color: $_primary; }
      }
      & > a + a.page_title {
        padding-left: 0px;
      }
      & > .actions, & > .dd-handle {
        float: right;
        & > a, & > i {
          cursor: pointer;
          width: 20px;
          display: inline-block;
          text-align: center;
          color: $_muted;
          &:hover { color: $_secondary; }
        }
        & > i.muted { cursor: not-allowed; color: $_sensible; }
      }
      & > i {
        float: right;
        padding-right: 10px;
      }
    }
    .dd-placeholder {
      display: block;
      border-top: 1px dashed $_sensible;
      @include box-sizing(content-box);
      background: $_menu-dropdown-hover;
    }
  }
  & ul ul {
    & > li {
      padding-left: 15px;
      &:last-child { padding-bottom: 0; }
    }
  }
  a[data-action] {
    width: 15px;
    text-align: center;
    color: $_discrete;
  }
  &:not(.open) {
    ul, span, a:not(.toggle) { display: none; }
    a.toggle {
      @include transform(rotateY(180deg));
    }
  }
}

.label-title {
  @include span-columns(11 of 12);
  @include omega;
  margin-bottom: 10px;
  font-size: 1.8em;
}

.label-tags {
  @include span-columns(11 of 12);
  @include omega;
  margin-bottom: 10px;
  color: $_primary;
    
  & > span {
    display: inline-block;
  }

  & > ul {
    list-style: none;
    margin: 0; 
    padding: 0;
    font-size: 0.9em;
    display: inline-block;
    color: $_text;

    & > li {
      display: inline-block;
      padding: 3px 4px;
      margin: 2px;
      border-radius: $border-radius;
      border: 1px solid $_muted;
      position: relative;
      & a {
        color: $_muted;
        display: inline-block;
        &:hover { color: $_text; }
      }
      & em {
        display: inline-block;
        padding-left: 4px;
      }
      & > span > input { 
        width: initial; 
        border: none;
        padding: 0; 
        margin-left: 4px;
      }
    }
  }
}

.content-wiki {
  @include span-columns(12 of 12);
  @include omega;
  & .redactor_box > .redactor_editor { min-height: 500px !important; }
}

.open + .label-title,
.open ~ .label-tags,
.open ~ .content-wiki {
  @include span-columns(7 of 12);
  @include omega;
}
