@charset "UTF-8";

// Libs
@import "reset/_normalize";
@import "bourbon/_bourbon"; 
@import "_fonts";
@import "_font-awesome";
@import "_variables";
@import "_mixins";
@import "neat/_neat";
@import "alertify/_alertify";
@import "dropzone/dropzone";
@import "redactor/_redactor";
@import "imgareaselect/jquery.imgareaselect";

body {
  font-weight: 300;
}

a {
  color: $_primary;
  cursor: pointer;
  text-decoration: none;
  &:hover { color: darken($_primary, 10%); }
}
menu, nav {
  a:hover { color: $_muted; }
}
h1, h2, h3, h4, h5, h6, p { font-weight : normal;  }
em { color: $_muted; }

/* STANDARD LOGOS & SIZES */
@for $i from 4 through 9 {
  $size: pow(2,$i);
  .logo-igneet-#{$size} {
    width: #{$size}px;
    height: #{$size}px;
    display: inline-block;
    margin-right: #{$size/8}px;
    vertical-align: middle;
    background: 0 0 transparent url('#{$img-path}logo/logo-#{$size}.png') no-repeat;
  }
}

/* Communities color */
.community-demo { color: $_orange; }
.community-association { color: $_blue; }
.community-entreprise { color: $_green; }
.community-expired { color: $_red; }

/* Buttons */
a.button, input[type=submit].button, button {
  @include button();
}

// Structure card && full
@import "styles/structure";
  /* Structure specific */
  @import "styles/card";
  @import "styles/full";

@import "styles/inputs";
@import "styles/non-auth";
@import "styles/menubar";

@import "styles/editable";

// Tables used in lists of objects
@import "styles/tables";

@import "styles/pagination";
@import "styles/social";

@import "styles/_timeline";

// Page-specific
@import "styles/settings";
@import "styles/user";
@import "styles/projects";
@import "styles/community";

// Admin
@import "_admin";
