// Libs
@import "reset/_normalize";
@import "bourbon/_bourbon"; 
@import "_fonts";
@import "_font-awesome";
@import "_variables";
@import "_mixins";
@import "neat/_neat";

body {
  background-color: $_background; 
  font-family: 'gotham_book', 'Arial', sans-serif;
}

/* Helper to account for pages that contain no navbar, and thus don't need a top margin for the body */
body div.push-wrapper{ margin-top: $navbar-height; }

footer {
  text-align: center;
  padding: $gutter/2;
  margin-top: $gutter*2;
  font-size: 0.8em;
}

a {
  color: $_primary;
  text-decoration: none;
}

input { border: none; }

/* STANDARD LOGOS & SIZES */
@for $i from 4 through 9 {
  $size: pow(2,$i);
  .logo-igneet-#{$size} {
    width: #{$size}px;
    height: #{$size}px;
    display: inline-block;
    margin-right: #{$size/8}px;
    vertical-align: middle;
    background: 0 0 transparent url('#{$img-path}logo/logo-#{$size}.png') no-repeat;
  }
}

/* CONTENT CONTAINER */
.content-container {
  margin: 0 auto;
  width: $main-width;
  @include media($tablet, $mobile) { 
    width: 100%;
    padding: 0px 15px;
  }
  @include outer-container();
}

/* ERRORS AND ALERTS */
.error {
  @include up-triangle(20px, $_error);
  color: $_text;
  background-color: $_error;
}

@import "styles/login";
@import "styles/navbar";

@mixin nav-button() {
  border: 1px solid $_navbar_border;
  border-radius:  3px;
  @include linear-gradient($_navbar-gradient_first, $_navbar-gradient_last);
  box-shadow: 0px 1px 0px #5B5B5B inset, 0px 1px 0px #343434;
}

nav {

  background-color: $_navbar-background;
  height: $navbar-height;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid $_navbar_border;
  top: 0px;
  box-shadow: 0 0 3px $_navbar-background;
  padding: $navbar-padding;

  /* inline list */
  & > ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    & > li {
      display: inline-block;
      height: 100%;
    }
  }

  & > a {
    @include logo(30);
    display: inline-block;
    padding: 8px;
  }

  & > div.communities {
    display: inline-block;
  }

  & > ul.user {
    float: right;
    @include nav-button;
    height: 100%;
    & > li > a > img{
      border-radius: 3px 0 0 3px;
    }
    & > li > a > span.username {
      @include ellipsis(150px);
      color: $_text;
      display: inline-block;
      line-height: ($navbar-height - $navbar-padding*2 - 3); // why 3 ? because = border*2 + box-shadow
      padding-left: $navbar-padding/2;
      &:after {
        content: "";
        display: inline-block;
        @include triangle(8px, $_text, down);
        margin-left: $navbar-padding;
      }
    }
    & > li {
      color: #2E2E2E;
    }
  }

}



