@charset "UTF-8";

// Libs
@import "reset/_normalize";
@import "bourbon/_bourbon"; 
@import "_fonts";
@import "_font-awesome";
@import "_variables";
@import "_mixins";
@import "neat/_neat";
@import "alertify/_alertify";
@import "redactor/_redactor";
@import "imgareaselect/jquery.imgareaselect";

body {
  font-weight: 300;
}

a {
  color: $_primary;
  cursor: pointer;
  text-decoration: none;
  &:hover { color: darken($_primary, 10%); }
}
menu, nav {
  a:hover { color: $_muted; }
}
h1, h2, h3, h4, h5, h6, p { font-weight : normal;  }
em { color: $_muted; }

/* STANDARD LOGOS & SIZES */
@for $i from 4 through 9 {
  $size: pow(2,$i);
  .logo-igneet-#{$size} {
    width: #{$size}px;
    height: #{$size}px;
    display: inline-block;
    margin-right: #{$size/8}px;
    vertical-align: middle;
    background: 0 0 transparent url('#{$img-path}logo/logo-#{$size}.png') no-repeat;
  }
}

/* Communities color */
.community-demo { color: $_orange; }
.community-association { color: $_blue; }
.community-entreprise { color: $_green; }
.community-expired { color: $_red; }

/* Buttons */
a.button, input[type=submit].button, button {
  @include button();
}

// Structure card && full
@import "styles/structure";
  /* Structure specific */
  @import "styles/card";
  @import "styles/full";

@import "styles/inputs";
@import "styles/non-auth";
@import "styles/menubar";

@import "styles/editable";

// Page-specific
@import "styles/settings";
@import "styles/user";

// Tables used in lists of objects
@import "styles/tables";

@import "styles/pagination";
@import "styles/social";

// @import "styles/_timeline";

.comment {
  @include row();
  @include clearfix;
  & > .avatar {
    @include span-columns(1 of 12);
    & > img {
      border-radius: 50%;
      height: $column - $gutter;
      width: $column - $gutter;
    }
    @include media ($tablet, $mobile) {
      display: none;
    }
  }
  & > form {
    @include span-columns(11 of 12);
    @include media ($tablet, $mobile) {
      @include fill-parent();
    }
    & > textarea {
      margin-top: 14px;
      margin-bottom: 14px;
      @include span-columns(10 of 12);
      @include media ($tablet) {
        @include span-columns(3 of 4);
      }
      @include media ($mobile) {
        @include fill-parent();
        height: $column - $gutter;
        margin-top: 0;
        margin-bottom: 0;
      }
      border: none;
      background: white;
      height: 34px;
      @include transition (height 300ms ease-in-out, margin 300ms ease-in-out);
      resize: none; 
      &.open {
        height: $column - $gutter;
        margin-top: 0;
        margin-bottom: 0;
      }
    }    
    & > input[type=submit] {
      margin: 14px 0;
      @include span-columns(2 of 12);
      @include media ($tablet) {
        @include span-columns(1 of 4);
      }
      @include media ($mobile) {
        @include fill-parent();
      }
    }
  }
}

ul.timeline {
  $image_size : 70px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  @include fill-parent();
  & > li { 
    position: relative;
    @include fill-parent();
    &.step {
      margin: 50px 0;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.2em;
      color: $_discrete;
    }
    &:not(.step) {
      min-height: $image_size + $gutter*2;
      background: $_container;
      display: block;
      margin: $gutter/2 0;
      padding: $gutter;
    }
    & > i {
      color: $_muted;
      display: inline-block;
      margin-left: $gutter/2;
      font-size: 0.8em;
    }
    & > .avatar {
      float: left;
      margin-right: $gutter;
      & img { border-radius: 50%; height: $image_size; width: $image_size; }
    }
    & > .date {
      color: $_text-secondary;
      display: inline-block;
      margin-bottom: $gutter/2;
      font-size: 0.8em;
      font-family: 'gotham_medium';
      vertical-align: baseline;
    }
    & > .actions {
      // actions : validate and delete for comments
      position: absolute;
      right: $gutter;
      top: $gutter/2;
      & > .validation > .validate-trigger + span {
        display: inline-block;
        margin: 0 10px;
        color: $_discrete;
      }
      & > .delete-trigger {
        display: inline-block;
        padding-left: 10px;
        border-left: 1px solid $_sensible;
        color: $_sensible;
      }
    }
    & > .text {
      font-family: 'gotham_light';
      font-size: 0.9em;
      display: block;
    }
    & > .count {
      padding-left: 5px;
    }
    &.deleted {
      @include media($tablet, $mobile) {
        display: none;
      }
    }
  }
  &.notifications > li:not(.step) { border: 1px solid rgba($_sensible,0.5); }
  &.notifications > li.unseen { 
    background: rgba($_secondary,0.1);
    border: 1px solid $_secondary;
  }
}
