// Libs
@import "reset/_normalize";
@import "bourbon/_bourbon"; 
@import "_fonts";
@import "_font-awesome";
@import "_variables";
@import "_mixins";
@import "neat/_neat";
@import "alertify/_alertify";

body {
  background-color: $_background;
  font-family: 'gotham_book', 'Arial', sans-serif;

  footer {
    text-align: center;
    padding: $gutter/2;
    margin-top: $content-margin;
    margin-bottom: $content-margin/2;
    font-size: 0.8em;
    color: $_text;
    @include media($tablet, $mobile) { 
      display: none; /* Beurk, but no other solution found yet */
    }
  }

  &.no-menu {
    background-color: $_background-dark;
    footer {
      color: $_text-dark;
    }
  }

  /* Where content is inside a "card" when in desktop resolution */
  &.card, &.no-menu {
    /* CONTENT CONTAINER */
    & > .content-container {
      margin: 0 auto;
      width: $main-width;
      @include media($tablet, $mobile) { 
        width: 100%;
        & > *:not(nav) {
          padding: 0px $gutter/2;
        }
      }
      @include outer-container(); /* The grid is associated to content-container */

      &.menu-push {
        margin-top: $menu-height + $content-margin; 
        @include media($tablet, $mobile) { 
          margin-top: 0;
        }
        background-color: $_container;
      }
    }
  }

  /* Where content spans the full width of the window */
  &.full {
    .content-container {
      background-color: $_container; /* Default, but should be overriden with specific selectors such as "user-list" later */
      &.menu-push { 
        margin-top: $menu-height;
        @include media($tablet, $mobile) { 
          margin-top: 0;
        }
      }
      & > *:not(nav) { /* The grid is associated to the children elements instead of content-container */
        margin: 0 auto;
        width: $main-width;
        @include media($tablet, $mobile) { 
          width: 100%;
          padding: 0px $gutter/2;
        }
        @include outer-container();
      }
    }
  }

  @include media($tablet, $mobile) {

    .content-container{
      @include transition (left 300ms ease-in-out);
      position: fixed;
      overflow-y: scroll;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
    }

    /* Responsive */
    &.menu-active menu { 
      position: inherit;
      opacity: 1;
      left: 0px;
    }

    &.menu-active .content-container { left: $menu-mobile-width; }

  }

}

a {
  color: $_primary;
  text-decoration: none;
  
}
*:focus { outline: none; }
input { border: none; }
h1, h2, h3, h4, h5, h6, p { font-weight : normal;  }
em { color: $_muted; }
form > em { padding: 10px 0; display: block; font-size: 0.85em; }

/* STANDARD LOGOS & SIZES */
@for $i from 4 through 9 {
  $size: pow(2,$i);
  .logo-igneet-#{$size} {
    width: #{$size}px;
    height: #{$size}px;
    display: inline-block;
    margin-right: #{$size/8}px;
    vertical-align: middle;
    background: 0 0 transparent url('#{$img-path}logo/logo-#{$size}.png') no-repeat;
  }
}

/* Communities color */
.community-demo { color: hsl( 30, saturation($_primary)/2, lightness($_primary))}
.community-association { color: hsl( 220, saturation($_primary)/2, lightness($_primary))}
.community-entreprise { color: hsl( 120, saturation($_primary)/2, lightness($_primary))}
.community-expired { color: hsl( 0, saturation($_primary)/2, lightness($_primary))}

/* Buttons */
a.button {
  background-color: $_primary;
  color: $_text-dark;
  padding: 10px;
  line-height: em(2*10px) + 1em;
  &.button-danger { background-color: hsl( 0, saturation($_primary)/2, lightness($_primary)); }
  &.button-success { background-color: hsl( 120, saturation($_primary)/2, lightness($_primary)); }
}

/* ERRORS AND ALERTS */
.error {
  @include up-triangle(20px, $_error, left);
  color: $_text-dark;
  background-color: $_error;
}

@import "styles/login";
@import "styles/menubar";
@import "styles/editable";
//@import "styles/card";

body.card > .content-container > header {

  @include row();
  padding-top: 70px;
  padding-bottom: 50px;
  @include media($tablet, $mobile) {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  & > .avatar {
    @include span-columns(2);
    @include shift(1);
    position: relative;
    @include media($tablet) {
      @include span-columns(1);
      @include shift(0);
    }
    @include media($mobile) {
      display: none;
    }

    & > img {
      @include fill-parent;
      border-radius: 50%;
    }
    & > a {
      position: absolute;
      display: none;
      top: 50%;
      left: 50%;
      text-shadow: 0 0 5px black;
      margin: -1em 0 0 0.5em;
      &:first-of-type {margin: -1em 0 0 -2em;}
      &:hover {
        color: $_text-dark;
      }
    }
    &:hover {
      & > a { display: block; }
      //& > img { box-shadow: 0 0 0 4px $_primary; opacity: 0.7; }
    }
  }

  & > .info {
    @include span-columns(7);
    @include shift(1);
    @include media($tablet) {
      @include span-columns(3);
      @include shift(0);
    }
    @include media($mobile) {
      @include fill-parent();
    }

    & .skills {

      span {
        display: inline-block;
      }

      ul {
        list-style: none;
        margin: 0; 
        padding: 0;
        font-size: 0.9em;
        display: block;
        color: $_text;

        & > li {
          display: inline-block;
          padding: 3px 4px;
          margin: 2px;
          border-radius: $border-radius;
          border: 1px solid $_muted;
          & a {
            color: $_muted;
            &:hover { color: $_text; }
          }
        }
      }
    }
  }

  & > .title {
    @include span-columns(10);
    @include shift(1);
    @include media($tablet, $mobile) {
      @include shift(0);
      @include fill-parent();
    }
  }

  & > .info, & > .title {
    & > h2 {
      color: $_primary;
      font-size: 2.5em;
      margin: 0 0 10px 0;
      span {
        display: inline-block;
        @include ellipsis(100%);
      }
    }
    & > h3 {
      color: $_discrete;
      font-size: 1.5em;
      margin: 5px 0 10px 0;
    }
    & > h4 {
      color: $_muted;
      margin: 5px 0 10px 0;
      div:first-child {
        @include span-columns(3 of 7);
        @include ellipsis($column*3);
        @include media($mobile) {
          @include fill-parent();
        }
      }
      div:last-child {
        @include span-columns(4 of 7);
        @include media($mobile) {
          @include fill-parent();
        }
      }
      @include clearfix;
    }

    & > div {
      margin: 0 0 20px 0;
      color: $_muted;
    }

  }

}

body.card > .content-container > section {

  @include row();   
  @include span-columns(10);
  @include shift(1);
  @include clearfix;

  border-top: 1px solid lighten($_background,2%);
  &:first-of-type { border-top: 1px solid $_background; }
  padding-top: $gutter*2;
  padding-bottom: $gutter*2;

  @include media($tablet, $mobile) {
    @include fill-parent();
    @include shift(0);
    padding-top: $gutter;
    padding-bottom: $gutter;
  }

  & > .label {
    @include span-columns(3 of 10);
    color: $_discrete;
    @include media($tablet) {
      @include span-columns(1 of 4);
    }
    @include media($mobile) {
      @include fill-parent();
      margin-bottom: 5px;
    }
  }
  & > .content {
    @include span-columns(7 of 10);
    @include clearfix;
    color: $_text-secondary;
    @include media($tablet) {
      @include span-columns(3 of 4);
    }
    @include media($mobile) {
      @include fill-parent();
    }
  }
}

// @import "style/settings"

.specificDay, .specificEmail {
  margin-top: 20px;
}

ul.specificEmailsChoice {
  list-style-type: none;

  & > li {
    font-weight: bold;
    & > span {
      font-weight: normal;
    }
  }
}

// @import "style/inputs"

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label {
  cursor: pointer;
}
input[type="checkbox"] + label:before {
    content: "☐";
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 8px;
    color: $_muted;
    line-height: 0;
}
input[type="checkbox"]:checked + label:before{
    content: "☑";
    color: $_primary;
}