/* ******************************************************************** */
/*                             CUSTOM MIXINS                            */
/* ******************************************************************** */

@mixin logo($size){
  // find power of 2 closest
  $ratio: 0.75;
  //$img-size: pow(2, ceil(logarithm($size)/logarithm(2)));
  $img-size: em($size*$ratio);
  font-size: 1em;
  & > img {
    vertical-align: top;
    width: #{$img-size};
    height: #{$img-size};
    display: inline-block;
    margin-right: #{$img-size*(1 - $ratio)};
  }
  & > span {
    font-size: em($size);
    line-height: $ratio*1em;
    letter-spacing: -0.05em;
    color: $_text-dark;
    font-family: 'gotham_medium', 'Arial', sans-serif;
  }
}

@mixin ellipsis($size){
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -moz-binding: url(<q>assets/xml/ellipsis.xml#ellipsis</q>);
  max-width: $size;
  &:focus { text-overflow: initial;}
}

@mixin up-triangle($size, $color, $side){
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -$size;
    @if $side == center {
      left: 50%;
    } @else {
      #{$side}: 15px;
    }

    @include triangle($size, $color, up); // Thanks to the Bourbon Add-on
  }
  position: relative;
}

@mixin emboss-box($color_top, $color_bottom){
  box-shadow: 0px 1px 0px $color_top inset, 0px 1px 0px $color_bottom;
}

@mixin emboss-text($color){
  @if lightness($color) > lightness(#888888) {
    text-shadow: 0 -1px 0 darken($color, 90%);
  } @else {
    text-shadow: 0 1px 0 lighten($color, 20%);
  }
}

@mixin stripped-background($color) {
  background-size: 10px 10px;
  @include linear-gradient(135deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
            transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
            transparent 75%, transparent);
  background-color: $color;
}

@mixin button() {
  background-color: $_primary;
  color: $_text-dark;
  padding: 0.5em;
  min-width: 100px;
  display: inline-block;
  border: none;
  text-align: center;
  &:hover { box-shadow: 0 0 0px 3px rgba(0,0,0,0.15) inset; }
  &:active { box-shadow: 0 0 0px 3px rgba(0,0,0,0.30) inset; }
  &:focus { box-shadow: 0 0 0px 3px rgba(0,0,0,0.30) inset; }
  &.button-danger { background-color: $_red !important; }
  &.button-success { background-color: $_green !important; }
}
