@import "neat/_neat-helpers.scss";

/* ******************************************************************** */
/*                                Colors                                */
/* ******************************************************************** */
$_background-dark: #1e1e1e;
$_background-strong: #2e2e2e;
$_background: #f4f4f4;
$_container: white;
$_primary: hsla(30, 100%, 45%, 1);
$_secondary: hsla(203, 50%, 50%, 1);
$_secondary_lighter: desaturate(lighten($_secondary, 45%),15%);

$_text: black;
$_text-dark: white;
$_text-secondary: #464646;
$_discrete: #848484;
$_muted: #c4c4c4;
$_sensible: #e4e4e4;
$_muted-dark: #646464;
$_sensible-dark: #3d3d3d;
$_link: $_primary;

$border-radius: 5px;

$_red: hsl( 0, saturation($_primary)/2, lightness($_primary));
$_orange: hsl( 30, saturation($_primary)/2, lightness($_primary));
$_green: hsl( 120, saturation($_primary)/2, lightness($_primary));
$_blue: hsl( 220, saturation($_primary)/2, lightness($_primary));
$_error: #9c3535;

/* ******************************************************************** */

// Inputs :: DARK
$_submit-background: $_sensible-dark;
$_input-background: #252525;
$_input-background-focus: $_primary;
$_input-placeholder: #4c4c4c;
$_input-hover: $_submit-background;
$_input-foreground: $_text;

// Menu
$menu-height: 60px;
$menu-padding: 10px;
$menu-item-border-radius: $border-radius;
$menu-mobile-width: 284px;
$menu-mobile-width-safe: 304px;
$_menu-background: #282828;
$_menu-border: black;
$_menu-gradient_base: #424242; //48
$_menu-shadow_top: #5B5B5B;
$_menu-shadow_bottom: #343434;
$_menu-dropdown: white;
$_menu-dropdown-highlight: $_secondary;
$_menu-dropdown-hover: $_secondary_lighter;
$_menu-dropdown-text: #b2b2b2;

// The main width of the container
$main-width: 980px;
$mobile-width: 480px;

// Content
$content-margin: 50px;

/* ******************************************************************** */
/*                             NEAT SETTINGS                            */
/* ******************************************************************** */
// Change the grid settings
$gutter: 20px;
$grids-columns: 12;
$column: ceil($main-width/$grids-columns);
$max-width: $main-width;

// DEBUG
$visual-grid: false;
$visual-grid-color: salmon;
$visual-grid-opacity: 0.1;
$visual-grid-index: front;

// Define your breakpoints
$desktop: new-breakpoint(min-width $main-width $grids-columns);
$tablet: new-breakpoint(max-width $main-width 4);
$mobile: new-breakpoint(max-width $mobile-width 1);

// Img path
$img-path: "../img/";
