@import "neat/_neat-helpers.scss";

/* ******************************************************************** */
/*                                Colors                                */
/* ******************************************************************** */
$_background: #1e1e1e;
$_primary: #e37000;
$_secondary: #e37000;
$_error: #9c3535;

$_text: #FFFFFF;
$_link: #646464;


/* ******************************************************************** */

// Inputs :: DARK
$_submit-background: #313131;
$_input-background: #252525;
$_input-background-focus: $_primary;
$_input-placeholder: #4c4c4c;
$_input-hover: $_submit-background;
$_input-foreground: $_text;

// Navbar
$navbar-height: 40px;
$_navbar-background: #282828;

// The main width of the container
$main-width: 980px;
$mobile-width: 480px;

/* ******************************************************************** */
/*                             NEAT SETTINGS                            */
/* ******************************************************************** */
// Change the grid settings
$gutter: 20px;
$grids-columns: 12;
$column: ceil($main-width/$grids-columns);
$max-width: $main-width;

// DEBUG
$visual-grid: true;
$visual-grid-opacity: 0.2;

// Define your breakpoints
$tablet: new-breakpoint(max-width $main-width 4);
$mobile: new-breakpoint(max-width $mobile-width 1);

// Img path
$img-path: "../img/";
