// Colors
$background: #1e1e1e;
$primary: #e37000;
$secondary: #e37000;

// Zen-grids
$zen-columns: 12; // Set the total number of columns in the grid.
$zen-gutters: 20px;

// Navbar
$navbar-height: 40px;
$navbar-background: #282828;

// The main width of the container
$main-width: 980px;
