body > header{
  height: 41px;
}
body > header .navbar a.brand{
  margin-left: 0;
}
body > #flashes > div.alert{
  border-radius: 0;
  margin-bottom: 1px;
}

body > footer{
  height: 30px;
  text-align: center;
  color: rgba(0,0,0,0.5);
  padding: 20px 0 0 0;
  font-size: 0.9em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 2px 0;
}

/* nav bar */
#notificationsCount{
  position: absolute;
  top: 4px;
  right: 4px;
}

.shortcode{
  padding: 10px;
}
#shortcode input{
  margin: 7px;
  background: #CCC;
}

div#workspace{
  transition: opacity 150ms 350ms ease-in;
  margin-top: 20px;
}

div#workspace > div.cardContainer {
  margin: 0 auto;
  width: 960px;
}

div.workspace > div.cardContainer div.card {
  width: 960px;
  display: inline-block;
}

div.card{
  border-radius: 3px;
  border: 1px solid #CCC;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
}

div.card > header{
  background: #EEE;
  border-bottom: 1px solid #DDD;
  position: relative;
}

div.card a{
  text-decoration: none;
}

div.card > header,
div.cart > footer{
  padding: 20px;
}

.ellipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ellipsis-multiline{
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
}

hr {
  background: transparent url("../img/hr.png") repeat-x 0 0;
  border: 0 none;
  color: #CCC;
  height: 4px;
  padding: 0;
}
/* sections */
div.content{ position: relative; word-wrap: break-word;}
div.content section{
  position: relative;
  padding: 10px 20px;
}
div.content form section{
  padding: 3px 20px;
}
div.content form section h4{
  text-align: center;
}
div.content section:first-child{
  padding-top: 15px;
}
div.content section > div.sectionTitle{
  display: inline-block;
  width: 150px;
  color: black;
  vertical-align: top;
}
div.content form section > div.sectionTitle{
  width: 350px;
  text-align: right;
  margin-right: 10px;
}
div.content section > .sectionContent{
  display: inline-block;
  margin-left: 5px;
  width: 758px;
}
div.content section.listing{
  border-bottom: 1px solid #DDD;
}
div.content form section > .sectionContent{
  width: auto;
}
div.content section.colored{ background: #EEE;}
div.content section.colored.warning{ background: lightPink;}
div.content section.colored.info{ background: lightBlue;}
/* Column-type sections */
div.content div.menu{
  width: 180px;
  float: right;
  background-color: #eee;
  padding: 28px 20px 10px 20px;
}
div.content section.centered{
  text-align: center;
  padding: 50px;
}
div.content div.column{
  width: 738px;
  border-left: 220px solid #eee; /* The width and color of the rail */
  margin-left: -220px;
  float: right;
}
div.content div.column h4{
  display: inline-block;
}

div.content div.formContent form,
div.content div.formContent .form-actions{
  margin-bottom: 0;
  margin-top: 20px;
}
div.content div.formContent .help-block{
  color: #bbb;
  font-size: 0.9em;
}

div.smallObjectInfos{
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  width: 95px;
  height: 60px;
  line-height: 60px;
  position: relative;
}

div.smallObjectInfos span{
  vertical-align: middle;
  display: inline-block;
  line-height: 1.2em;
}

.smallHeaderAvatar{
  border: 1px solid #555;
}

.imageCropWrapper{
  margin: auto;
  width: 400px;
  background: #DDD;
  border: 2px solid #AAA;
}
.imageCropWrapper div{
  margin: auto;
}

/*******************/
/* Nestable tweaks */
/*******************/

.dd-list { 
  display: block; 
  position: relative; 
  margin: 0; 
  padding: 0; 
  list-style: none;
}
.dd-collapsed .dd-list { 
  display: none;
}
.dd-handle{
  padding-left: 1px;
  position: absolute;
  left: 0;
  top: 0;
  cursor: move;
  color: #777;
}
.dd-handle:hover{
  color: black;
}
.dd-item{
  padding-left: 20px;
  position: relative;
}
.dd-placeholder,
.dd-empty {
  background: #f2fbff; 
  border: 1px dashed #b6bcbf; 
  box-sizing: border-box; 
  -moz-box-sizing: border-box;
}
.dd-empty {
  border: 1px dashed #bbb;
  background-color: #e5e5e5;
}
.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
  border: 1px dashed #BBB;
  background-color: #EEE;
  opacity: 0.75;
}
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }

/* Nesting */
.dd-list .dd-list {
  margin-left: 0;
  background: #EEE;
}
.dd-list .dd-list li ul {
  padding-left: 4px;
}
.dd-list .dd-list li {
  border-left: 1px dotted #888;
}
.dd-dragel .dd-list .dd-list {
  background: transparent;
}

.dd-item > button { 
  display: inline-block; 
  position: relative; 
  float: left;
  width: 21px;
  cursor: pointer;
  padding: 0;
  border: 0; 
  background: transparent;
}

/*********/
/* X-editable tweaks */
/*********/

.icon-header,
.icon-hr-line
{
  background: url(../../../bundles/metageneral/img/Markdown.Editor.Icons.png) no-repeat scroll;
  height: 20px;
  width: 14px;
  display: block !important;
}
.icon-header            { background-position: -120px 3px; }
.icon-hr-line           { background-position: -144px 3px; }


textarea.wmd-input{
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 200px;
}

.wmd-wrapper .preview {
  margin-top: 10px;
  border-top: 1px solid #DDD;
  padding-top: 10px;
}

.wmd-message{
  margin-left: 5px;
}
.wmd-heading, 
.heading{
  border-bottom: 1px solid #DDD;
  padding: 5px 0;
  margin-bottom: 10px;
}

.editable-trigger,
.markdown-trigger{
  cursor: pointer;
}

/*****************/
/*     Forms     */
/*****************/

.error-block ul{
  list-style-type: none;
  margin: 0;
}
.error-block ul li {
  color: red;
}


/*****************/
/* Common Avatar */
/*****************/
img.avatar{
  display: block;
  border-radius: 3px;
}
img.smallAvatar{
  display: inline-block;
  vertical-align: top;
  border-radius: 3px 0 0 3px;
}
img.miniAvatar{
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
}
div.textAvatar{
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 150px;
  font-size: 150px;
}
div.smallTextAvatar{
  display: inline-block;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-size: 70px;
  background: #CCC;
}
div.smallTextAvatar i{
  width: 70px;
}
div.miniTextAvatar{
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  vertical-align: top;
  background: #CCC;
  border-radius: 3px;
}
div.miniTextAvatar i{
  width: 30px;
}

/*********************/
/*  Listing & Mutual */
/*********************/
div.listingItemInfo{
  height: 80px;
  padding: 10px;
  vertical-align: top;
  width: 570px;
  display: inline-block;
}
.user div.listingItemInfo{
  width: 790px;
}
div.listingItemRelatedObjects{
  position: absolute;
  right: 20px;
  bottom: 10px;
}
div.listingItemRelatedObjects ul{
  list-style: none;
  overflow: hidden;
  width: 220px;
  margin-left: 0px;
  height: 32px;
  direction: rtl;
}
div.listingItemRelatedObjects ul li{
  display: inline-block;
  margin: 2px 1px;
}

div.listingItemRelatedObjects div.type div{
  display: block;
  font-size: 0.85em;
  font-weight: lighter;
}

div.headerAvatarAndActions{
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
  text-align: right;
  position: relative;
}
div.headerAvatarAndActions div.changeAvatar{
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  background: rgba(255, 255, 255, 0.6);
  padding: 4px 11px;
  border-radius: 0 3px 0 0;
}
a.followAction,
a.watchAction{
  margin: 10px 0 0 0;
}
div.objectHeader
{
  display: inline-block;
  max-width: 740px;
}


/******************/
/*     Users      */
/******************/
div.userInfo{
  display: inline-block;
  padding-right: 40px;
  height: 150px;
}
div.userInfo > h2,
div.projectInfo > h2{
  margin-top: 0;
}
ul.users li,
ul.projects li{
  display: inline-block;
  background: #EEE;
  border: 1px solid #CCC;
  border-radius: 3px;
  margin: 0 4px 7px 0;
  vertical-align: top;
  height: 70px;
  position: relative;
}

ul.users li a,
ul.projects li a{
  display: block;
}

/**********/
/* Skills */
/**********/
ul.skills{
  display: inline-block;
  margin: 0;
  max-width: 640px;
}
.project ul.skills{
  max-width: 395px;
}
ul.skills li{
  display: inline-block;
  margin-right: 2px;
}

/************/
/* Projects */
/************/
div.navbar.project{
  margin:0;
}
div.navbar.project > div.navbar-inner{
  border-radius: 0;
  border-right: none;
  border-left: none;
}
div.projectInfo,
div.ideaInfo{
  display: inline-block;
  border-right: 1px solid #CCC;
  padding-right: 40px;
  height: 150px;
  width: 540px;
}
div.projectAbout,
div.ideaAbout{
  display: inline-block;
  vertical-align: top;
  padding: 5px 20px;
  height: 140px;
  width: 100px;
}
a.removeUserIcon{
  position: absolute;
  right: 4px;
  top: 5px;
  box-shadow: -5px 0 10px #EEE;
  height: 60px;
  background: #EEE;
  vertical-align: middle;
  line-height: 60px;
}

/*************/
/* TIMELINE  */
/*************/
div.timeline_filters{
  margin: 0 0 20px 0;
}
ul.timeline{
  margin: 0;
}
ul.timeline div.date-wrapper {
  margin-left: 414px;
}
ul.timeline div.date {
  text-align: center;
  list-style: none;
  background: #CCC;
  border: 5px solid #DDD;
  height: 70px;
  width: 70px;
  border-radius: 50px;
  padding: 5px;
  font-size: 1.5em;
  display: table-cell;
  vertical-align: middle;
}
ul.timeline li.dateWrapper:first-child div.date{
  background: lightGreen;
  border: 5px solid darkSeaGreen;
}
ul.timeline li.logWrapper,
ul.timeline li.dateWrapper{
  list-style-type: none;
}
ul.timeline li.logWrapper:after,
ul.timeline li.logWrapper:before,
ul.timeline li.dateWrapper:after,
ul.timeline li.dateWrapper:before{
  display: block;
  height: 5px;
  width: 1px;
  margin-left: 50%;
  border-left: 1px solid #777;
  content: "";
}
ul.timeline li.dateWrapper.pass:after,
ul.timeline li.dateWrapper.pass:before{
  border-left: 1px dotted #AAA;
}
ul.timeline li.dateWrapper:first-child:before{
  display: none;
}
ul.timeline li.logWrapper:last-child:after{
  border-left: 1px dotted #AAA;
  height: 20px;
}
ul.timeline li.logWrapper .fullDate{
  display: none;
}
ul.timeline li.logWrapper.full .fullDate{
  display: inline-block;
}
ul.timeline div.log{
  border-top: 1px solid #DDD;
  background: #EEE;
  border-radius: 3px;
  padding: 5px 5px 7px 5px;
}
ul.timeline div.log span{
  vertical-align: bottom;
}
ul.timeline div.log span.avatar{
  display: inline-block;
}
ul.timeline div.log.bold{
  font-weight: bold;
  background: lightBlue;
}


/*************/
/*   LISTS   */
/*************/
ul.lists{
  list-style-type: none;
  margin: 5px 0 0 0;
}
ul.lists li{
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
ul.lists li.active{
  background: #DDD;
}
ul.lists li.active > a.page_title{
  font-weight: bold;
}
div.menu_new{
  margin-top: 10px;
  margin-left: 5px;
  border-top: 1px solid #DDD;
  padding-top: 10px;
}
section.listInfo{
  box-shadow: 0 4px 10px #DDD;
}
ul.list{
  list-style-type: none;
  margin: 0;
}
ul.list li{
  border-bottom: 1px dotted #CCC;
  padding: 5px;
}
ul.list li span.date{
  font-size: 0.9em;
}
ul.list li div.actions{
  text-align: right;
}
ul.list li.even{
  background: #f4f4f4;
}
ul.list li:last-child{
  border-bottom: none;
}
ul.list li.done span.text{
  text-decoration: line-through;
}

/*************/
/* COMMENTS  */
/*************/
div.commentsWrapper{
  border: 1px solid #CCC;
  background: #EEE;
  border-radius: 14px;
  padding: 35px 7px 7px 7px;
  position: relative;
}
a.commentsBoxToggle{
  position: absolute;
  top: 11px;
  right: 16px;
  cursor: pointer;
}
span.commentsBoxTitle{
  position: absolute;
  top: 10px;
  left: 22px;
  font-size: 1.3em;
  font-weight: bold;
}
div.commentsContent{
  background: white;
  padding: 15px;
  border-radius: 6px;
}
div.commentsInfo{
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 20px;
}
div.commentsForm div.avatar,
ul.comments div.avatar,
ul.timeline div.avatar
{
  display: inline-block;
  vertical-align: top;
}
div.commentsForm{
  border-bottom: 2px solid #EEE;
}
div.commentsForm form{
  display: inline-block;
  width: 618px;
  margin-bottom: 10px;
}
div.commentsForm.timeline form{
  width: 884px;
}
div.commentsForm textarea{
  width: 546px;
  max-width: 546px;
  height: 21px;
  vertical-align: top;
}
div.commentsForm.timeline textarea{
  width: 812px;
  max-width: 812px;
}
ul.comments{
  margin: 10px 0;
}
ul.comments li{
  list-style-type: none;
  padding: 10px 0;
  border-bottom: 1px solid #EEE;
}
ul.comments li div.comment{
  display: inline-block;
  width: 579px;
}
ul.timeline li div.comment{
  display: inline-block;
  width: 835px;
}

ul.comments .actions,
ul.timeline .actions{

  display: inline-block;
  width: 35px;
  vertical-align: top;
  text-align: right;
}

ul.comments li div.validations,
ul.timeline li div.validations{
  padding: 0 2px;
  background: #EEE;
}
ul.comments li div.validations.validated,
ul.timeline li div.validations.validated{
  background: lightGreen;
}
.validate-trigger{
  cursor: pointer;
}
ul.comments li div.comment header,
ul.timeline li div.comment header{
  font-size: 0.8em;
  margin-bottom: 3px;
  font-weight: bold;
  line-height: 1em;
}

/*************/
/*   TAGS    */
/*************/
ul.tags{
  display: inline-block;
  margin: 0;
}
ul.tags li{
  display: inline-block;
  margin-right: 2px;
}

/*************/
/* RESOURCES */
/*************/
ul.resources{
  list-style-type: none;
  margin: 0;
}
div.resourceDetail{
  margin-left: 36px;
  margin-top: 10px;
}

/*************/
/* DASHBOARD */
/*************/
.blank_dashboard_item{
  background: lightgreen;
  padding: 152px 10px;
  text-align: center;
}
/**************/
/*   GRAPHS   */
/**************/

header .graph{
  position: absolute;
  bottom: 0;
  right: 10px;
}
.graph_placeholder{
  height: 21px;
  padding: 62px 0;
  background: #CCC;
  text-align: center;
}
.axis path, .axis line {
  fill: none;
  stroke: #DDD;
  shape-rendering: crispEdges;
}
.axis text, .top-label {
  font-family: sans-serif;
  font-size: 10px;
}
