body > header{
  height: 52px;
}
body > header .navbar a.brand{
  margin-left: 0;
}
body .alert{
  border-radius: 0 0 3px 3px;
}

body > footer{
  height: 30px;
  text-align: center;
  color: rgba(0,0,0,0.5);
  padding: 20px 0 0 0;
  font-size: 0.9em;
}

div#workspace{
  transition: opacity 150ms 350ms ease-in;
  margin-top: 20px;
}

div#workspace > div.cardContainer {
  margin: 0 auto;
  width: 960px;
}

div.workspace > div.cardContainer div.card {
  width: 960px;
  display: inline-block;
}

div.card{
  border-radius: 3px;
  border: 1px solid #CCC;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
}

div.card > header{
  background: #EEE;
  border-bottom: 1px solid #DDD;
}

div.card a{
  text-decoration: none;
}

div.card > header,
div.cart > footer{
  padding: 20px;
}

.ellipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
hr {
  background: transparent url("../img/hr.png") repeat-x 0 0;
  border: 0 none;
  color: #CCC;
  height: 4px;
  padding: 0;
}
/* sections */
div.content{ position: relative;}
div.content section{
  position: relative;
  padding: 10px 20px;
}
div.content form section{
  padding: 3px 20px;
}
div.content form section h4{
  text-align: center;
}
div.content section:first-child{
  padding-top: 15px;
}
div.content section > div.sectionTitle{
  display: inline-block;
  width: 150px;
  color: black;
  vertical-align: top;
}
div.content form section > div.sectionTitle{
  width: 350px;
  text-align: right;
  margin-right: 10px;
}
div.content section > .sectionContent{
  display: inline-block;
  margin-left: 5px;
  width: 758px;
}
div.content section.listing{
  border-bottom: 1px solid #DDD;
}
div.content section.listing:last-child{
  border-bottom: none;
}
div.content form section > .sectionContent{
  width: auto;
}
div.content section.colored{ background: #EEE;}
/* Column-type sections */
div.content div.menu{
  width: 180px;
  float: right;
  background-color: #eee;
  padding: 28px 20px 10px 20px;
}
div.content div.column{
  width: 738px;
  border-left:220px solid #eee; /* The width and color of the rail */
  margin-left:-220px;
  float: right;
}
div.content div.column h4{
  display: inline-block;
}

div.smallObjectInfos{
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  width: 95px;
  height: 60px;
  line-height: 60px;
  position: relative;
}

div.smallObjectInfos span{
  vertical-align: middle;
  display: inline-block;
  line-height: 1.2em;
}

/*********/
/*********/

/*! X-editable - v1.1.0 
* In-place editing with Twitter Bootstrap, jQuery UI or pure jQuery
* http://github.com/vitalets/x-editable
* Copyright (c) 2012 Vitaliy Potapov; Licensed MIT */

.editableform {
    margin-bottom: 0; /* overwrites bootstrap margin */
}

.editableform .control-group {
    margin-bottom: 0; /* overwrites bootstrap margin */
    white-space: nowrap; /* prevent wrapping buttons on new line */
}

.editable-buttons {
   display: inline-block; /* should be inline to take effect of parent's white-space: nowrap */
   vertical-align: top;
   margin-left: 7px;
   /* display-inline emulation for IE7*/
   zoom: 1; 
   *display: inline;
}

.editable-input {
    vertical-align: top; 
    display: inline-block; /* should be inline to take effect of parent's white-space: nowrap */
    width: auto; /* bootstrap-responsive has width: 100% that breakes layout */
    white-space: normal; /* reset white-space decalred in parent*/
   /* display-inline emulation for IE7*/
   zoom: 1; 
   *display: inline;   
}

.editable-buttons .editable-cancel {
   margin-left: 7px; 
}

/*for jquery-ui buttons need set height to look more pretty*/
.editable-buttons button.ui-button {
   height: 24px; 
}

.editableform-loading {
    background: url('../img/loading.gif') center center no-repeat;  
    height: 25px;
    width: auto;  
}

.editable-inline .editableform-loading {
    background-position: left 5px;      
}

 .editable-error-block {
    max-width: 300px;
    margin: 5px 0 0 0;
    width: auto;
}

/*add padding for jquery ui*/
.editable-error-block.ui-state-error {
    padding: 3px;  
}  

.editable-error {
   color: red;  
}

.editableform textarea {
    height: 150px; /*default height for textarea*/
}

.editableform .editable-date {
    padding: 0; 
    margin: 0;
    float: left;
}


/* checklist vertical alignment */
.editable-checklist label input[type="checkbox"], 
.editable-checklist label span {
    vertical-align: middle;
    margin: 0;
}

.editable-clear {
   clear: both;
   font-size: 0.9em;
   text-decoration: none;
   text-align: right;
}
.editable-container {
    max-width: none; /* without this rule poshytip does not stretch */
}  

.editable-container.popover {
/*   width: 300px;*/  /* debug */
    width: auto; /* without this rule popover does not stretch */
}


.editable-click{
  border-bottom: 1px dashed #DDD;
  cursor: pointer;
}
.editable-click:hover{
  border-bottom: 1px dashed #08C;
}
.editable-trigger,
.markdown-trigger{
  cursor: pointer;
}

.editable-click.editable-disabled, 
a.editable-click.editable-disabled, 
a.editable-click.editable-disabled:hover {
   color: #585858;  
   cursor: default;
   border-bottom: none;
}

.editable-empty, .editable-empty:hover{
  font-style: italic; 
  color: #AAA;  
  border-bottom: none;
  text-decoration: none;
}

.editable-unsaved {
  font-weight: bold; 
}

.editable-unsaved:after {
/*    content: '*'*/
}


.icon-code,
.icon-header,
.icon-hr-line
{
  background: url(../../../bundles/metageneral/img/Markdown.Editor.Icons.png) no-repeat scroll;
  height: 20px;
  width: 14px;
  display: block;
}
.icon-code              { background-position: -48px  3px; }
.icon-header            { background-position: -120px 3px; }
.icon-hr-line           { background-position: -144px 3px; }


textarea.wmd-input{
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 200px;
}
.wmd-message{
  margin-left: 5px;
}
.wmd-heading{
  border-bottom: 1px solid #DDD;
  padding: 5px 0;
  margin-bottom: 20px;
}

/*****************/
/* Common Avatar */
/*****************/
img.avatar{
  display: block;
  border-radius: 3px;
}
img.smallAvatar{
  display: inline-block;
  vertical-align: top;
  border-radius: 3px 0 0 3px;
}
img.miniAvatar{
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
}
div.textAvatar{
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 150px;
  font-size: 150px;
}
div.smallTextAvatar{
  display: inline-block;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-size: 70px;
  background: #CCC;
}
div.smallTextAvatar i{
  width: 70px;
}
div.miniTextAvatar{
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  vertical-align: top;
  background: #CCC;
  border-radius: 3px;
}
div.miniTextAvatar i{
  width: 30px;
}

/*********************/
/*  Listing & Mutual */
/*********************/
div.listingItemInfo{
  height: 80px;
  padding: 10px;
  vertical-align: top;
  width: 790px;
  display: inline-block;
}
div.listingItemRelatedObjects{
  position: absolute;
  right: 20px;
  bottom: 10px;
}
div.listingItemRelatedObjects ul{
  list-style: none;
  overflow: hidden;
  width: 384px;
  height: 32px;
  direction: rtl;
}
div.listingItemRelatedObjects ul li{
  display: inline-block;
  margin: 2px 1px;
}

div.listingItemRelatedObjects div.type div{
  display: block;
  font-size: 0.85em;
  font-weight: lighter;
}

div.headerAvatarAndActions{
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
  text-align: right;
  position: relative;
}
div.headerAvatarAndActions div.changeAvatar{
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  background: rgba(255, 255, 255, 0.6);
  padding: 4px 11px;
  border-radius: 0 3px 0 0;
}
a.followAction,
a.watchAction{
  margin: 10px 0 0 0;
}
div.objectHeader
{
  display: inline-block;
  max-width: 740px;
}
div.errors ul{
  list-style: none;
  margin: 0;
  color: red;
}


/******************/
/*     Users      */
/******************/
div.userInfo{
  display: inline-block;
  padding-right: 40px;
  height: 150px;
}
div.userInfo > h2,
div.projectInfo > h2{
  margin-top: 0;
}
ul.users li,
ul.projects li{
  display: inline-block;
  background: #EEE;
  border: 1px solid #CCC;
  border-radius: 3px;
  margin: 0 4px 7px 0;
  vertical-align: top;
  height: 70px;
  position: relative;
}

ul.users li a,
ul.projects li a{
  display: block;
}

/**********/
/* Skills */
/**********/
ul.skills{
  display: inline-block;
  margin: 0;
}
ul.skills li{
  display: inline-block;
  margin-right: 2px;
}

/************/
/* Projects */
/************/
div.navbar.project{
  margin:0;
}
div.navbar.project > div.navbar-inner{
  border-radius: 0;
  border-right: none;
  border-left: none;
}
div.projectInfo,
div.ideaInfo{
  display: inline-block;
  border-right: 1px solid #CCC;
  padding-right: 40px;
  height: 150px;
  width: 540px;
}
div.projectAbout,
div.ideaAbout{
  display: inline-block;
  vertical-align: top;
  padding: 5px 20px;
  height: 140px;
  width: 100px;
}
a.removeUserIcon{
  position: absolute;
  right: 4px;
  top: 5px;
  box-shadow: -5px 0 10px #EEE;
  height: 60px;
  background: #EEE;
  vertical-align: middle;
  line-height: 60px;
}

/*************/
/*   LISTS   */
/*************/
ul.lists{
  list-style-type: none;
  margin: 5px 0 0 0;
}
ul.lists li{
  width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
div.menu_new{
  margin-top: 10px;
  margin-left: 5px;
  border-top: 1px solid #DDD;
  padding-top: 10px;
}
section.listInfo{
  box-shadow: 0 4px 10px #DDD;
}
ul.list{
  list-style-type: none;
  margin: 0;
}
ul.list li{
  border-bottom: 1px dotted #CCC;
  padding: 5px;
}
ul.list li span.date{
  font-size: 0.9em;
}
ul.list li.even{
  background: #f4f4f4;
}
ul.list li:last-child{
  border-bottom: none;
}
ul.list li.done span.text{
  text-decoration: line-through;
}

/*************/
/* COMMENTS  */
/*************/
div.commentsWrapper{
  border: 1px solid #CCC;
  background: #EEE;
  border-radius: 14px;
  padding: 35px 7px 7px 7px;
  position: relative;
}
a.commentsBoxToggle{
  position: absolute;
  top: 11px;
  right: 16px;
  cursor: pointer;
}
span.commentsBoxTitle{
  position: absolute;
  top: 10px;
  left: 22px;
  font-size: 1.3em;
  font-weight: bold;
}
div.commentsContent{
  background: white;
  padding: 15px;
  border-radius: 6px;
}
div.commentsInfo{
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 20px;
}
div.commentsForm div.avatar,
ul.comments div.avatar
{
  display: inline-block;
  vertical-align: top;
}
div.commentsForm{
  border-bottom: 2px solid #EEE;
}
div.commentsForm form{
  display: inline-block;
  width: 618px;
  margin-bottom: 10px;
}
div.commentsForm textarea{
  width: 530px;
  max-width: 530px;
  height: 21px;
  vertical-align: top;
}
ul.comments{
  margin: 10px 0;
}
ul.comments li{
  list-style-type: none;
  padding: 10px 0;
  border-bottom: 1px solid #EEE;
}
ul.comments li div.comment{
  display: inline-block;
  width: 604px;
}
ul.comments li div.comment header{
  font-size: 0.8em;
  margin-bottom: 3px;
  font-weight: bold;
  line-height: 1em;
}

