section.billing-help {
  font-size: 0.8em;
  text-align: center;
}

section.billing-table {
  padding: 0 !important;

  .billing-partner{
    text-align: center;
  }
}

div.billing-status {
  font-size: 3em;
  text-align: center;
}
.billing-status-valid {
  color: $_green;
}
.billing-status-invalid {
  color: $_red;
}
.billing-status-legacy {
  color: $_orange;
}

div.billing-action{
  text-align: center;
  background: $_background;
  padding: 10px;
}

.billing-state-created {
  background-color: $_blue;
  color: white;
}
.billing-state-active {
  background-color: $_green;
  color: white;
}
.billing-state-inactive {
  background-color: $_orange;
  color: white;
}

div.billing-confirm{
  padding: 10px 20px;
  background: $_background;
  margin-bottom: 20px;
}