/* ******************************************************************** */
/*                              EDITABLES                               */
/* ******************************************************************** */

// General rules
*[contenteditable=true] {

  &:hover { background: rgba($_text, 0.05); }
  &:focus { background: rgba($_primary, 0.1); }
  &:empty:before{
    content: attr(placeholder);
    font-style: italic;
    color: $_muted;
  }

  &.redactor_editor:hover {
    box-shadow: 0 0 1px 2px rgba($_secondary, 0.2) inset !important; 
  }
}
