/* ******************************************************************** */
/*                              EDITABLES                               */
/* ******************************************************************** */

// General rules
*[contenteditable=true] {

  &:hover { background: rgba($_text, 0.05); }
  &:focus { background: rgba($_primary, 0.1); }
  &:empty:before{
    content: attr(placeholder);
    font-style: italic;
    color: $_muted;
  }

  &.redactor_editor:hover {
    box-shadow: 0 0 1px 2px rgba($_secondary, 0.2) inset !important; 
  }
}

// "Go to link" divs when we click on links 
.link_choice {
  color: white;
  position: absolute;
  padding: 5px;
  z-index: 10;
  background: $_secondary;
  border-radius: 3px;
  @include up-triangle(14px, $_secondary, left);
  &:hover {
    color: $_muted;
  }
}
