@charset "UTF-8";

/* ******************************************************************** */
/*                   INPUTS : Focus, checkboxes, etc                    */
/* ******************************************************************** */

// General rules
*:focus { outline: 0 none; }
input { 
    border: none;
    @include placeholder {
        color: $_muted;
      }
}
form {
    input[type=text], input[type=email],input[type=password], input[type=file], select {
        width: 100%;
        &:disabled { 
            @include stripped-background(lighten($_muted,10%));
        }
    }
}

// Checkboxes
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label {
  cursor: pointer;
}
input[type="checkbox"] + label:before {
    content: "☐";
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 8px;
    color: $_muted;
    line-height: 0;
}
input[type="checkbox"]:checked + label:before{
    content: "☑";
    color: $_primary;
}

body.card, body.full {
    & input { border: 1px solid $_muted; }
}
