/* ******************************************************************** */
/*                        MENU : MAIN NAVIGATION                        */
/* ******************************************************************** */

// Custom Mixin for menu button styling
@mixin menu-button($clickable: true, $single: false) {
  border: 1px solid $_menu_border;
  @include linear-gradient(lighten($_menu-gradient_base,3%),$_menu-gradient_base);
  @include emboss-box(lighten($_menu-gradient_base,10%), $_menu-shadow_bottom);
  @if $clickable {
    &:hover{
      @include linear-gradient(lighten($_menu-gradient_base, 3%), darken($_menu-gradient_base, 2%));
    }
    &:active{
      @include emboss-box(lighten($_menu-dropdown-highlight, 25%), $_menu-shadow_bottom);
      @include linear-gradient(lighten($_menu-dropdown-highlight, 10%), $_menu-dropdown-highlight);
    }
  }
  @if $single {
    border-radius: $border-radius;
  } @else {
    border-left: none;
    border-right: none;
    &:first-child{
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      border-left: 1px solid $_menu_border;
    }
    &:last-child{
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      border-right: 1px solid $_menu_border;
    }
  }
}

/* Inner height of menu and dropdowns */
$menu-inner-height: ($menu-height - $menu-padding*2);
$menu-dropdown-line-height: 50px;

/* nav[role=mobile] will show when on mobile media */
nav[role=mobile]{

  height: $menu-height;
  width: 100%;
  margin: 0;
  padding: $menu-padding;
  background-color: $_menu-background;
  border-bottom: 1px solid $_menu_border;
  box-shadow: 0 0 3px $_menu-background;
  z-index: 3;

  display: none;
  @include media($tablet, $mobile) {
    display: block;
  }

  & a { 
    color: $_text-dark; 
    display: inline-block;
    vertical-align: top;
  } // All links are in color $_text-dark in the menu

  & > a.menu-trigger {
    padding: $menu-padding;
    @include menu-button(true, true);
  }

  & > a.logo {
    @include logo(30);
    padding: 8px;
  }
  & > a.notifications {
    float: right;
    padding: $menu-padding;
    @include menu-button(true, true);
    & .help {
      @include media($mobile) {
        display: none;
      }
    }
    & > .notificationsCount{
      @include count-badge(18px, "right", 3px, 3px);
    }
  }

}

/* Standard menu */
@include media($desktop) {
  menu {

    height: $menu-height;
    position: fixed;
    top: 0px;
    width: 100%;
    margin: 0;
    padding: $menu-padding;
    background-color: $_menu-background;
    border-bottom: 1px solid $_menu_border;
    box-shadow: 0 0 3px $_menu-background;
    z-index: 3;

    & a { color: $_text-dark; vertical-align: top; } // All links are in color $_text-dark in the menu

    & > a.logo {
      @include logo(30);
      display: inline-block;
      padding: 8px;
    }

    span.help { display: none; }

    /* Short code */
    div.shortcode{
      display: inline-block;
      line-height: ($menu-inner-height - 2); //see above
      vertical-align: top;
      padding: 0 $menu-padding;
      @include menu-button(false, true);
      & form { display: inline; }
      & input { outline: 0; margin-left: $menu_padding/2; width: initial; }
    }

    /* inline list */
    & > ul {

      list-style-type: none;
      display: inline-block;
      margin: 0;
      padding: 0;

      & > li {

        display: inline-block;
        height: $menu-inner-height;
        position: relative;
        padding: 0 $menu-padding;
        @include menu-button;
      
        &.notifications { padding: 0; }
        &.home { border-right: 1px solid $_menu-background; }

        &.avatar{ 
          padding: 0; 
          border-right: 1px solid $_menu-background;
          & img{
            border-radius: $border-radius 0 0 $border-radius;
            height: ($menu-inner-height - 2); // accounts for border : 1px * 2
          }
        }

        & > a {

          display: inline-block;
          @include emboss-text($_text-dark);
          line-height: ($menu-inner-height - 2); //see above

          
          & > span {
            @include ellipsis(150px);
            display: inline-block;
          }

          & > div {
            overflow: hidden; // Drops the pseudo margin on top of the list li element
            position: relative;
            display: inline-block;
            line-height: ($menu-inner-height - 2); //see above
            color: $_menu-background;
            border-left: 1px solid $_menu-background;
            min-width: $menu-inner-height;
            padding-right: 3px;
            text-align: center;
            @include emboss-text($_menu-background);
          }
          & > .notificationsCount{
            @include count-badge(18px, "right", 3px, 3px);
          }

        }

        /* Dropdown menu & Caret */
        &.dropdown > a:not(.main-menu) {
          &:after {
            content: "";
            @include triangle(8px, $_text-dark, down);
            margin-left: $menu-padding;
          }
        }
        &.dropdown.active {
          @include emboss-box(lighten($_menu-dropdown-highlight, 25%), $_menu-shadow_bottom);
          @include linear-gradient(lighten($_menu-dropdown-highlight, 10%), $_menu-dropdown-highlight);
        }

        /* Sub menu */
        &.dropdown > ul {

          display: none;
          @include up-triangle(20px, $_menu-dropdown, right);
          background: $_menu-dropdown;
          color: $_menu-dropdown-text;
          list-style: none;
          float: left;
          right: 0;
          margin: 0;
          min-width: 163px;
          padding: 0;
          position: absolute;
          top: 45px;
          z-index: 1000;
          border-radius: $border-radius;
          box-shadow: 0 0 $border-radius $_menu-background;

          & > li {

            padding: $menu-padding/2 $menu-padding;
            height: $menu-dropdown-line-height;
            line-height: ($menu-dropdown-line-height - $menu-padding);
            &:first-child{ border-radius: $border-radius $border-radius 0 0; }
            &:last-child{ border-radius: 0 0 $border-radius $border-radius; }

            & > a { 
              display: inline-block;
              @include ellipsis(270px);
              width: 100%;
              color: $_menu-dropdown-text; 
              vertical-align: top;
              & > i.fa{
                color: $_menu-dropdown-highlight;
              }
            } 

            &:hover {
              background: $_menu-dropdown-hover;
              & a {
                color: $_menu-dropdown-highlight;
              }
            }
            & strong {
              color: $_menu-dropdown-highlight;
            }

          }

          & > li.divider {
            background-color: lighten($_menu-dropdown-text, 20%);
            height: 1px;
            padding: 0;
            margin: 0;
            overflow: hidden;
          }

        }

      }

    }

  }
}
/* Thanks Chrome : http://stackoverflow.com/questions/13935255/chrome-float-right-resize-bug */
body > menu > ul.user { float: right; }

/* Responsive menu */
@include media($tablet, $mobile) {

  body {
    background: lighten($_menu-background, 10%); // To compensate for menu height
  }

  menu {
    position: fixed;
    @include transition (left 300ms ease-in-out, opacity 200ms ease-in-out);
    left: -$menu-mobile-width;
    max-width: $menu-mobile-width;
    bottom: 0;
    margin: 0;
    padding: 0 2px 0 0;
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: lighten($_menu-background, 10%);
    color: $_text-dark;
    box-shadow: -6px 0 5px -5px black inset;

    & a { 
      color: $_text-dark; 
      vertical-align: top;
      display: inline-block;
      @include ellipsis($menu-mobile-width);
    }

    & li:not(.dropdown):hover a { color: $_menu-dropdown-highlight; }

    & > a.logo, & > div.shortcode { display: none; }
    span.help { display: inline; }

    & > ul {

      margin: 0;
      padding: 0;
      list-style-type: none;

      & i.fa {
        vertical-align: 0;
        color: $_menu-dropdown-highlight;
      }

      & > li.avatar, & li.divider { display: none; }

      & > li {

        border-bottom: 1px solid lighten($_menu-background, 15%);
        height: $menu-dropdown-line-height;
        line-height: ($menu-dropdown-line-height - $menu-padding);

        & > a { 
          padding: $menu-padding/2 $menu-padding;
          
          & > div {
            display: inline;
          }
          & > #notificationsCount {
            display: inline-block;
            padding-left: $menu-padding;
            position: relative;
            color: $_menu-dropdown-highlight;
            &:before { content: "("; }
            &:after { content: ")"; }
          }
        } 

        & strong {
          color: $_menu-dropdown-highlight;
        }

        /* Sub menu */
        &.dropdown { 
          height: inherit;
          & > ul {
            display: block !important; // Because else javascript hides it
            position: relative;
            margin-left: $menu-padding*2;
            margin-bottom: $menu-padding*2;
            list-style: none;
            border-left: 1px solid lighten($_menu-background, 15%);
            padding: 0;
            & > li > a {
              padding: $menu-padding/2 $menu-padding*2;
            }
          }
        }
        &.dropdown > a {
          color: darken($_text-dark, 30%);
          &:after {
            content: "";
            display: inline-block;
            @include triangle(8px, $_text-dark, down);
            border-top-color: darken($_text-dark, 30%);
            margin-left: $menu-padding;
          }
        }

      }

    }
  }

}
