/* ******************************************************************** */
/*                       NON AUTHENTICATED STYLES                       */
/* ******************************************************************** */

.content-container {
  & > *.non-auth {
    @include row();
    @include span-columns(8);
    @include shift(2);
    @include media($tablet, $mobile) {
      @include fill-parent();
      @include shift(0);
    }
  }
  header.non-auth {
    margin-top: 70px;
    margin-bottom: 60px;
    @include media($tablet, $mobile) {
      margin-top: 30px;
      margin-bottom: 20px;
    }
    & > h1 {
      font-size: 1em;
      @include span-columns(5 of 8);
      @include media($tablet, $mobile) {
        @include fill-parent();
      }
      a {
        color: $_green;
        @include logo(70);
      }
    }
    & > span {
      @include span-columns(3 of 8);
      @include omega;
      @include media($tablet, $mobile) {
        display: none;
      }
      text-align: right;
      padding-top: 40px;
      color: $_muted-dark;
      & > img {
        opacity: 0.4;
      }
      & > a > img {
        opacity: 0.6;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  div.non-auth {
    color: $_text-dark;
    & > h2 {
      color: $_primary;
    }
    & > h3 > a { color: $_discrete; }
    & > h4 {
      color: $_discrete;
    }
  }
  section.non-auth {
    &, &:first-of-type { border-top: none; }
    & > .content { 
      width: 100%;
      text-align: center; 
      @include media($mobile) {
        & > a { display: block; }
      }
    }
  }
  form.non-auth {
    position: relative;
    & > *:not(.openid) {
      padding: 20px 10px;
      margin-bottom: 2px;
    }
    input[type=text], input[type=email], input[type=password] {
      @include fill-parent();
      background: $_input-background;
      color: $_input-foreground;
      border: none;

      &:focus{ background: $_input-background-focus; outline: 0; }
      &:hover:not(:focus){ background: $_input-hover; }

      @include placeholder { color: $_input-placeholder; }
    }
    .openid {
      position: absolute;
      right: 6px;
      top: 8px;
      z-index: 2;
    }
    .help {
      color: $_discrete;
      padding: 0 0 15px;
      text-align: right;
      display: block;
      font-size: 0.85em;
    }
    div.recover {
      @include span-columns(4 of 8);
      @include media($tablet) {
        @include span-columns(2 of 4);
      }
      @include media($mobile) {
        display: none;
      }
      & > a {
        color: white;
        &:hover {
          color: $_primary;
        }
      }
    }
    div.error {
      @include up-triangle(20px, $_error, left);
      color: $_text-dark;
      background-color: $_error;
    }
    .terms {
      text-align: right;
    }
    a.signup{
      @include span-columns(2 of 8);
      @include media($tablet) {
        @include span-columns(1 of 4);
      }
      @include media($mobile) {
        display: none;
      }
      text-align: center;
    }
    input[type=submit]{
      @include span-columns(2 of 8);
      @include omega;
      @include media($tablet) {
        @include span-columns(1 of 4);
      }
      @include media($mobile) {
        @include fill-parent();
      }
      background: $_submit-background;
      color: $_text-dark;
      &:hover{
        background: $_primary;
      }
    }
    input[type=text] + input[type=submit], 
    input[type=email] + input[type=submit], 
    input[type=password] + input[type=submit], 
    input[type=hidden] + input[type=submit], 
    .terms + input[type=submit] {
      @include shift(6 of 8);
      @include media($tablet) {
        @include shift(3 of 4);
      }
      @include media($mobile) {
        @include fill-parent();
        @include shift(0);
      }
    }
  }
}
