/* ******************************************************************** */
/*                                PROJECTS                              */
/* ******************************************************************** */

span[private=false] {
  & > i { display: none; }
}

ul.resources {
  margin: 0;
  padding: 0;
  list-style: none;
  & > li {
    height: 50px;
    border-bottom: 1px solid $_sensible;
    color: $_discrete;
    padding: 9px;
    cursor: pointer;
    & > img {
      vertical-align: top;
    }
    & > span {
      @include ellipsis($column*6 - $gutter*2);
      @include media($tablet) {
        @include ellipsis(65%);
      }
    }
    & > span, & > i {
      line-height: 31px;
      display: inline-block;
      vertical-align: middle;
    }
    & > a {
      display: inline-block;
      vertical-align: middle;
      margin: 0 5px;
      @include media($tablet) {
        float: right;
      }
    }
    &:hover { background: white; }
    & > ul.tags {
      @include tokens;
      display: inline-block;
      float: right;
      line-height: 31px;
      @include ellipsis($column*5 - 2*$gutter);
      direction: rtl;
      @include media($tablet, $mobile) {
        display: none;
      }
    }
    & > .details {
      display: none;
      border-top: 1px solid $_sensible;
      height: auto;
      margin: 20px 40px;
      @include media($tablet, $mobile) {
        margin-left: 0;
        margin-right: 0;
      }
      padding-top: 20px;
      position: relative;
      & > * {
        margin-bottom: 10px;
      }
      & > em {
        display: inline-block;
        width: 60%;
      }
      & > em + input {
        float: right;
        width: 230px;
      }
      & > span {
        display: block;
      }
      & > h2 {
        margin-top: 0;
        @include ellipsis(100%);
      }
      & > .label-tags {
        float: none;
      }
      & > form {
        border-top: 1px solid $_sensible;
        padding-top: 10px;
        margin-top: 15px;
        @include media($tablet) {
          @include fill-parent();
          & > i { display: none; }
        }
        @include media($mobile) {
          display: none;
        }
        & > * { 
          line-height: 25px;
          vertical-align: top;
        } 
        & > span {
          display: inline-block;
          @include ellipsis(740px);
          @include media($tablet) {
            @include span-columns(3 of 4);
          }
        }
        & > input {
          width: auto;
          @include media($tablet) {
            @include span-columns(2 of 4);
          }
          &[type=submit] {
            height: 28px;
            padding: 0;
            @include media($tablet) {
              @include span-columns(1 of 4);
            }
          }
        }
        & > a.delete {
          float: right;
          color: $_red;
          @include media($tablet) {
            @include span-columns(1 of 4);
            @include omega;
            float: none;
            display: inline-block;   
            text-align: right;
          }
        }
      }
    }
    &.detailed {
      height: auto;
      background: $_container;
      & > .details {
        display: block
      }
      & > ul.tags {
        display: none; // no tags inline when opened
      }
    }
  }
  @include media($tablet, $mobile) {
    & em {
      display: none;
    }
  }
}

form .content-full {
  @include row();
  & > input[type=text], & > input[type=url] {
    @include span-columns(10 of 12);
    height: 34px;
    padding-left: 10px;
    @include media($tablet) {
      @include span-columns(3 of 4);
    }
    @include media($mobile) {
      @include fill-parent();
    }
    & ~ input {
      @include span-columns(2 of 12);
      @include omega;
      @include media($tablet) {
        @include span-columns(1 of 4);
      }
      @include media($mobile) {
        @include fill-parent();
      }
    }
  }

}

.dropzone + a {
  display: block;
  float: right;
  margin-top: $gutter;
}

section > .jump {
  position: absolute;
  right: 0;
  top: 60px;
  & > a {
    min-width: 35px;
  }
  @include media($tablet, $mobile) {
    top: 30px;
  }
}


// Tree & Wiki's

.tree {
  width: 0px;
  height: 0px;
  position: absolute;
  &.open {
    @include span-columns(5 of 12);
    height: 100%;
    min-height: 170px;
    border-right: 1px dashed $_sensible;
    padding-right: 15px;
    position: relative;
    @include media($tablet) {
      @include span-columns(2 of 4);
    }
    @include media($mobile) {
      @include fill-parent();
      border-right: none;
      padding-right: 0;
      margin-bottom: 20px;
    }
  }
  & > span { 
    display: inline-block;
    font-family: 'gotham_light';
    line-height: 1.8em;
    margin-bottom: 20px;
    padding: 5px;
    text-transform: uppercase;
  }
  & > span ~ a {
    background: $_primary;
    color: white;
    display: block;
    position: absolute;
    padding: 5px 10px 6px 9px;
    top: 2px;
    right: 42px;
  }
  & > a.toggle {
    @include transition (transform 500ms ease-out);
    right: 10px;
    z-index: 10;
  }
  & ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    & > li {
      border-top: 1px solid $_sensible;
      height: 40px; /* Ensures iOs compatibility and avoid "stepdown" */
      &:hover, &.active {
        background: white;
      }
      & > *:not(ul) { 
        display: inline-block;
        color: $_discrete;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      & > a.page_title {
        padding-left: 15px;
        @include ellipsis($column*4 - $gutter*1.5);
        @include media($tablet) {
          @include ellipsis(66%);
        }
        &:hover { color: $_primary; }
      }
      & ul li a.page_title {
        @include ellipsis($column*4 - $gutter*2.25);
        @include media($tablet) {
          @include ellipsis(63%);
        }
      }
      & ul li ul li a.page_title {
        @include ellipsis($column*4 - $gutter*3);
        @include media($tablet) {
          @include ellipsis(60%);
        }
      }
      & ul li ul li ul li a.page_title {
        @include ellipsis($column*4 - $gutter*3.75);
        @include media($tablet) {
          @include ellipsis(58%);
        }
      }
      & > a + a.page_title {
        padding-left: 0px;
      }
      & > .actions, & > .dd-handle {
        float: right;
        & > a, & > i {
          cursor: pointer;
          width: 20px;
          display: inline-block;
          text-align: center;
          color: $_muted;
          &:hover { color: $_secondary; }
        }
        & > i.muted { cursor: not-allowed; color: $_sensible; }
      }
      & > i {
        float: right;
        padding-right: 10px;
      }
    }
    .dd-placeholder {
      display: block;
      border-top: 1px dashed $_sensible;
      @include box-sizing(content-box);
      background: $_menu-dropdown-hover;
    }
  }
  & ul ul {
    & > li {
      padding-left: 15px;
      &:last-child { padding-bottom: 0; }
    }
  }
  a[data-action] {
    width: 15px;
    text-align: center;
    color: $_discrete;
    vertical-align: top;
  }
  &:not(.open) {
    ul, span, a:not(.toggle) { display: none; }
    a.toggle {
      @include transform(rotateY(180deg));
      @include media($tablet) {
        right: -30px;
      }
    }
  }
}

.label-title {
  @include fill-parent();
  margin-bottom: 10px;
  font-size: 1.8em;
  @include media($tablet, $mobile) {
    left: 40px;
    position: relative;
  }
}
@include media($tablet, $mobile) {
  .tree.open ~ .label-title {
    left: 0px;
  }
}

.label-description {
  @include fill-parent();
  margin-bottom: 10px;
  font-size: 1.2em;
}

.label-tags {
  @include fill-parent();
  margin-bottom: 10px;
  color: $_primary;
  & > span {
    display: inline-block;
  }
  & > ul {
    @include tokens;
  }
}

.content-wiki {
  @include fill-parent();
  & .redactor_box > .redactor_editor { min-height: 500px !important; }
}

.open + .label-title,
.open ~ .label-progress,
.open ~ .label-description,
.open ~ .label-tags,
.open ~ .content-wiki,
.open ~ .content-lists {
  @include span-columns(7 of 12);
  @include omega;
  @include media($tablet) {
    @include span-columns(2 of 4);
    @include omega;
  }
  @include media($mobile) {
    @include fill-parent();
  }
}

.label-progress {
 
  height: 3px;
  background: $_sensible;
  margin-bottom: 10px;

  & > span {
    display: block;
    height: 100%;
    @include linear-gradient(to right, yellow, $_green);
    background-attachment: fixed;
  }

}

.slip {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  & > li {
    @include row();
    background: $_sensible;
    font-family: 'gotham_light';
    margin-bottom: 4px;
    border-right: 2px solid $_discrete;
    &.done {
      color: $_discrete;
      background: lighten($_sensible, 2%);
      border-right: 2px solid $_green;
      & > .item > span:not(.date) {
        text-decoration: line-through;
      }
    }
    &.new {
      height: 40px;
      padding: 10px;
      color: $_primary;
      & > input {
        border: none;
        color: $_primary;
        background: none;
        @include placeholder { 
          color: $_primary;
        }
        &:focus {
          background: lighten($_primary, 50%);
        }
      }
    }
    & > .item {
      @include span-columns (10 of 12);
      @include media($tablet) {
        @include span-columns (3 of 4);
      }
      @include media($mobile) {
        @include fill-parent();
        padding-right: 70px;
      }
      padding: 10px;
      & > .date {
        text-transform: uppercase;
        color: $_text-secondary;
        display: block;
        margin-top: 5px;
        font-size: 0.7em;
        font-family: 'gotham_medium';
        vertical-align: baseline;
      }
    }
    & > .actions {
      @include span-columns(1 of 12);
      @include media($tablet) {
        @include span-columns (1 of 4);
        @include omega;
        text-align: center;
      }
      @include media($mobile){
        position: absolute;
        right: 0;
        float: none;
      }
      padding: 20px 0px;
      text-align: right;
      & > a.delete {
        margin-left: 10px;
      }
    }
    & > .instant {
      @include span-columns(1 of 12);
      @include media($tablet, $mobile) {
        display: none;
      }
      padding: 20px 10px;
      @include omega;
      cursor: pointer;
      text-align: center;
    }
  }
}

.slip-reordering {
    box-shadow: 0 2px 10px rgba(0,0,0,0.45);
}
.slip-swiping-container {
    overflow-x: hidden;
}
