/* ******************************************************************** */
/*                                PROJECTS                              */
/* ******************************************************************** */

span[private=false] {
  & > i { display: none; }
}
