/* ******************************************************************** */
/*                             MAIN STRUCTURE                           */
/* ******************************************************************** */

body {
  background-color: $_background;
  font-family: 'gotham_book', 'Arial', sans-serif;

  footer {
    text-align: center;
    padding: $gutter/2;
    margin-top: $content-margin;
    margin-bottom: $content-margin/2;
    font-size: 0.8em;
    color: $_text;
    @include media($tablet, $mobile) { 
      display: none; /* Beurk, but no other solution found yet */
    }
  }

  &.no-menu {
    background-color: $_background-dark;
    footer {
      color: $_text-dark;
    }
    &.error {
      @include stripped-background($_muted);
      header {
        margin-bottom: 0;
      }
    }
  }
  /* Where content is inside a "card" when in desktop resolution */
  &.card, &.no-menu {
    /* CONTENT CONTAINER */
    & > .content-container {
      margin: 0 auto;
      width: $main-width;
      @include media($tablet, $mobile) { 
        width: 100%;
        & > *:not(nav) {
          padding-left: $gutter/2;
          padding-right: $gutter/2;
        }
      }
      @include outer-container(); /* The grid is associated to content-container */

      &.menu-push {
        margin-top: $menu-height + $content-margin; 
        @include media($tablet, $mobile) { 
          margin-top: 0;
        }
        background: $_container;
      }
    }
  }

  /* Where content spans the full width of the window */
  &.full {
    .content-container {
      background: $_container; 
      &.menu-push { 
        margin-top: $menu-height;
        @include media($tablet, $mobile) { 
          margin-top: 0;
        }
      }
      & > .wrapper { /* The grid is associated to the children elements instead of content-container */
        width: 100%;
        @include media($tablet, $mobile) { 
          padding: 0px $gutter/2;
        }
        &.list, &.info, &.community, &.tiles {
          background: $_background;
          color: $_text-secondary;
        }
        &.team, &.comment, &.stats {
          background: $_background-strong;
          color: $_text-dark;
          & > section > .label {
            border-bottom: 1px solid $_text-secondary;
          }
        }
        & > * {
          @include outer-container();
        }

      }
    }
    &.admin {
      @include media($desktop) { 
        & > menu {
          background: $_red;
          border-bottom: 1px solid darken($_red, 20%);
        } 
      }
      & > .content-container > nav {
        background: $_red;
        border-bottom: 1px solid darken($_red, 20%);
      }
    }
  }

  @include media($tablet, $mobile) {

    .content-container{
      @include transition (left 300ms ease-in-out);
      position: fixed;
      overflow-y: scroll;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
    }

    /* Responsive */
    &.menu-active menu { 
      position: inherit;
      opacity: 1;
      left: 0px;
    }

    &.menu-active .content-container { left: $menu-mobile-width; }

  }

}

// Horizontal padding of sections
$horizontal-padding: 70px;
body > .content-container header {

  position: relative;
  @include row();
  padding-top: $horizontal-padding;
  padding-bottom: ($horizontal-padding - $gutter);
  @include media($tablet, $mobile) {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  & > .avatar {
    position: relative;

    & > img {
      @include fill-parent;
      border-radius: 50%;
    }
    & > a {
      position: absolute;
      display: none;
      top: 50%;
      left: 50%;
      text-shadow: 0 0 5px black;
      margin: -1em 0 0 0.5em;
      &:first-of-type {margin: -1em 0 0 -2em;}
      &:hover {
        color: $_text-dark;
      }
    }
    &:hover > a { display: block; }
  }

  & > .info {

    & > div { position: relative; }
    & .skills {

      span {
        display: inline-block;
      }

      ul {
        list-style: none;
        margin: 0; 
        padding: 0;
        font-size: 0.9em;
        display: inline-block;
        color: $_text;

        & > li {
          display: inline-block;
          padding: 3px 4px;
          margin: 2px;
          border-radius: $border-radius;
          border: 1px solid $_muted;
          position: relative;
          & a {
            color: $_muted;
            display: inline-block;
            &:hover { color: $_text; }
          }
          & em {
            display: inline-block;
            padding-left: 4px;
          }
          & > span > input { 
            width: initial; 
            border: none;
            padding: 0; 
            margin-left: 4px;
            &.valid { color: $_green; }
          }
          & > ul#results {
            background: white;
            border-radius: $border-radius;
            display: block;
            position: absolute;
            top: 21px;
            left: 15px;
            & > li { 
              display: block; 
              cursor: pointer;
              &:hover { background: $_muted;}
            }
          }
        }
      }
    }
  }

  & > .info, & > .title {
    & > h2 {
      color: $_primary;
      font-size: 2.5em;
      margin: 0 0 10px 0;
      span {
        display: inline-block;
        @include ellipsis(100%);
      }
      i {
        line-height: 1.25em;
        vertical-align: top;
      }
    }
    & > h3 {
      color: $_discrete;
      font-size: 1.5em;
      margin: 5px 0 10px 0;
    }
    & > h4 {
      color: $_muted;
      margin: 5px 0 10px 0;
      @include clearfix;
    }

    & > div {
      margin: 0 0 20px 0;
      color: $_muted;
    }

  }

}

/* When sections are directly under the container, and wrapped in another tag */
body > .content-container section {

  border-top: 1px solid lighten($_background,2%);
  padding-top: $gutter*2;
  padding-bottom: $gutter*2;
  position: relative;

  &:first-of-type { border-top: 1px solid $_background; }
  &:last-of-type { padding-bottom: $horizontal-padding; }
  
  & > .content {
    color: $_text-secondary;
    @include span-columns(7 of 10);
    @include clearfix;
    @include media($tablet) {
      @include span-columns(3 of 4);
      @include shift(0);
    }
    @include media($mobile) {
      @include fill-parent();
      @include shift(0);
    }
    & > .actions {
      a:first-child {
        @include span-columns(3 of 7);
        @include media($tablet) {
          @include span-columns(1 of 3);
        }
        @include media($mobile) {
          @include fill-parent();
        }
      }
      a:last-child {
        @include shift(4 of 7);
        @include span-columns(3 of 7);
        @include media($tablet) {
          @include span-columns(1 of 3);
          @include shift(2 of 3);
        }
        @include media($mobile) {
          @include fill-parent();
          @include shift(0);
        }
      }
      a + a:last-child {
        @include shift(1 of 7);
        @include media($tablet) {
          @include shift(1 of 3);
        }
        @include media($mobile) {
          @include shift(0);
        }
      }
    }
    & em { 
      padding: 10px 0 5px 0;
      display: block;
      font-size: 0.85em;
      &.error { color: $_red; }
      &.help { color: $_muted; }
      & + em {
        padding-top: 0;
      }
    }
  }
  & > .content-full {
    @include fill-parent();
    @include shift(0);
    & .redactor_box > .redactor_editor { min-height: 300px !important; }
  }
}

/* Remove the border when an <aside> is present before the <section> */
body > .content-container aside + section,
body > .content-container aside + section:first-of-type { border: none; }


/* Aside spans the full width of the card container */
body > .content-container aside {

  @include row();   
  @include fill-parent();
  @include clearfix;
  @include pad($column);

  padding-top: $gutter*2;
  padding-bottom: $gutter*2;

  background: lighten($_background, 2%);
  position: relative;

  & .close {
    position: absolute;
    top: $gutter/2;
    right: $gutter;
    color: $_muted;
    font-size: 2em;
    cursor: pointer;
    &:hover { color: $_secondary; }
  }
  & > .content-full {
    & ul { 
      list-style-type: none; 
      & > li a {
        $image-size: 20px;
        line-height: $image-size;
        & > img { vertical-align: top; width: $image-size; height: $image-size; display: inline-block; }
      }
    }
  }
}

ul.content.thumbs {
  @include thumbs(2.333333, 7, 'light');
  font-size: 0.8em;
}
