/* ******************************************************************** */
/*                        Timeline and comments                         */
/* ******************************************************************** */

.label-comments {
  @include fill-parent();
  margin: 0 0 30px;
  color: $_primary;
  font-size: 1.8em;
}

.comment {
  @include row();
  @include clearfix;
  & > .avatar {
    @include span-columns(1 of 12);
    & > img {
      border-radius: 50%;
      height: $column - $gutter;
      width: $column - $gutter;
    }
    @include media ($tablet, $mobile) {
      display: none;
    }
  }
  & > form {
    @include span-columns(11 of 12);
    @include media ($tablet, $mobile) {
      @include fill-parent();
    }
    & > textarea {
      margin-top: 0;
      margin-bottom: 0;
      @include fill-parent();
      @include media ($desktop) {
        @include omega;
      }
      @include media ($tablet) {
        @include span-columns(3 of 4);
      }
      @include media ($mobile) {
        @include fill-parent();
        height: $column - $gutter;
      }
      border: none;
      background: white;
      height: $column - $gutter;
      resize: none; 
    }  
    & > span.working {
      margin: 14px 0;
      @include span-columns(1 of 11);
      @include shift(8);
      padding: 8px;
      text-align: right;
      @include media ($tablet, $mobile) {
        display: none;
      }
    }  
    & > input[type=submit] {
      margin: 14px 0;
      @include span-columns(2 of 11);
      @include media ($tablet) {
        @include shift(0);
        @include span-columns(1 of 4);
        margin-top: 0;
        height: $column - $gutter;
      }
      @include media ($mobile) {
        @include shift(0);
        @include fill-parent();
      }
    }
  }
}

$comment_box_height : 70px;
ul.timeline {
  margin: 0;
  padding: 0;
  list-style-type: none;
  @include fill-parent();
  & > li { 
    position: relative;
    @include fill-parent();
    &.step {
      margin: 50px 0;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.2em;
      color: $_discrete;
    }
    &:not(.step) {
      min-height: $comment_box_height + $gutter*2;
      background: $_container;
      display: block;
      margin: $gutter/2 0;
      padding: $gutter;
    }
    &.unseen { 
      background: rgba($_secondary,0.1);
      border: 1px solid $_secondary;
      & > .actions > .delete-trigger {
        color: $_discrete;
        border-left: 1px solid $_discrete;
      }
    }
    &.log-comment:not(.deleted) {
      border: 1px solid $_primary;
      background: rgba($_primary,0.1);
      & > .actions > .delete-trigger {
        color: $_primary;
        border-left: 1px solid $_primary;
      }
    }
    &.log-comment.deleted {
      display: none;
    }
    & > i {
      color: $_muted;
      display: inline-block;
      margin-left: $gutter/2;
      font-size: 0.8em;
    }
    & > .avatar {
      float: left;
      margin-right: $gutter;
      & img { border-radius: 50%; height: $comment_box_height; width: $comment_box_height; }
    }
    & > .date {
      color: $_text-secondary;
      display: inline-block;
      margin-bottom: $gutter/2;
      font-size: 0.8em;
      font-family: 'gotham_medium';
      vertical-align: baseline;
    }
    & > .actions {
      // actions : validate and delete for comments
      position: absolute;
      right: $gutter;
      top: $gutter/2;
      @include media($mobile) {
        right: 0px;
      }
      & > .validation > .validate-trigger + span {
        display: inline-block;
        margin: 0 10px;
        color: $_discrete;
      }
      & > .delete-trigger {
        display: inline-block;
        padding-left: 10px;
        border-left: 1px solid $_sensible;
        color: $_sensible;
        @include media($mobile) {
          display: none;
        }
      }
    }
    & > .text {
      font-family: 'gotham_light';
      font-size: 0.9em;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    & > .count {
      padding-left: 5px;
    }
    &.deleted {
      @include media($tablet, $mobile) {
        display: none;
      }
    }
  }
  &.notifications {
    @include clearfix;
    & > li:not(.step) { border: 1px solid rgba($_sensible,0.5); }
    & > li.unseen { 
      background: rgba($_secondary,0.1);
      border: 1px solid $_secondary;
    }
  }
}

// For comments in a full page, on a dark background
.wrapper.comment {
  .comment {
    margin-bottom: $gutter*1.5;
    & > form > textarea { 
      background: $_sensible-dark; 
      color: white;
    }
  }
  ul.timeline {
    & > li {
      & > .date { color: $_primary; }
      & > .actions { top: $gutter; }
    }
    & > li:not(.step) {
      min-height: $comment_box_height + $gutter*1.5*2;
      background: none;
      margin: 0;
      padding: $gutter*1.5 $gutter;
      border: none;
      border-top: 2px solid $_sensible-dark;
      @include media($tablet, $mobile) {
        min-height: $comment_box_height + $gutter*1.5;
        padding: $gutter $gutter/2;
      }
    }
  }
}

section.notifications.none {
  text-align: center;
}
