/* ******************************************************************** */
/*                           USER PROFILE PAGE                          */
/* ******************************************************************** */

ul.content {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline;
  & > li {
    display: inline-block;
  }
}