/* ******************************************************************** */
/*                           USER PROFILE PAGE                          */
/* ******************************************************************** */

ul.content {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline;
  & > li {
    display: inline-block;
  }
}

#markRead {
  position: absolute;
  right: 40px;
  top: 40px;
  @include media($mobile) {
    position: relative;
    top: 0;
    right: 0;
    display: block;
    @include fill-parent();
  }
}

/* ******************************************************************** */
/*                                INVITE                                */
/* ******************************************************************** */

.content-full.single-user {
  & > img {
    @include span-columns(1 of 10);
    border-radius: 50%;
    @include shift(2);
  }
  & > div {
    @include span-columns(5 of 10);
    padding: 5px;
    & > h4 {
      margin-top: 0;
      margin-bottom: 5px;
    }
    & > p {
      margin: 0;
      color: $_muted;
    }
  }
}
