/* ******************************************************************** */
/*                             FULL STRUCTURE                           */
/* ******************************************************************** */

body.full > .content-container header {

  & > .avatar {
    @include span-columns(2);
    @include media($tablet) {
      @include span-columns(1);
    }
    @include media($mobile) {
      display: none;
    }
  }

  & > .info {
    @include span-columns(10);
    @include omega;
    @include shift(0);
    @include media($tablet) {
      @include span-columns(3 of 4);
      @include omega;
    }
    @include media($mobile) {
      @include fill-parent();
    }
  }

  & > .title {
    @include fill-parent();
    @include media($tablet, $mobile) {
      @include fill-parent();
    }
  }

  & > .info, & > .title {
    & > h4 {
      div:first-child {
        @include span-columns(5 of 10);
        @include ellipsis($column*5);
        @include media($mobile) {
          @include fill-parent();
        }
      }
      div:last-child {
        @include span-columns(5 of 10);
        @include media($mobile) {
          @include fill-parent();
        }
      }
    }
  }

}

body.full > .content-container nav {
  @include clearfix;
  @include fill-parent();
  & > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'gotham_bold';
    & > li {
      display: inline-block;
      & > a {
        padding: $gutter;
        display: block;
        color: $_discrete;
        @include media ($tablet, $mobile) {
          display: inline-block;
          height: 40px;
          width: 56px;
          overflow: hidden;
        }
      }
      @include media ($tablet, $mobile) {
        height: 55px;
      }
      &.active {
        background: $_background;
      }
      &:hover:not(.active) {
        background: $_sensible;
      }
    }
  }

}

body.full > .content-container section {

  @include row();
  border-top: none;

  @include media($tablet, $mobile) {
    padding-top: $gutter;
    padding-bottom: $gutter;
  }

  &.none {
    padding: 100px;
    text-align: center;
  }

  & > .label {
    @include span-columns(4 of 12);
    @include shift(1);
    text-align: right;
    @include media($tablet) {
      @include span-columns(1 of 4);
      @include shift(0);
      text-align: left;
    }
    @include media($mobile) {
      @include fill-parent();
      @include shift(0);
      text-align: left;
      margin-bottom: 5px;
    }
  }

  & > .content {
    @include span-columns(4 of 12);
    @include clearfix;
    @include media($tablet) {
      @include span-columns(3 of 4);
      @include shift(0);
    }
    @include media($mobile) {
      @include fill-parent();
      @include shift(0);
    }
  }

  & > .label-full {
    @include fill-parent();
    margin: 20px 0;
    padding-bottom: 20px;
    font-size: 1.7em;
    border-bottom: 1px solid $_sensible;
  }

  & > ul.content-full {
    @include thumbs(3,12, 'dark');
  }
}

body.full > .content-container form > section {

  padding-top: $gutter/2;
  padding-bottom: $gutter/2;

  &:first-of-type {
    padding-top: $gutter*2;
  }

  & > .content {
    @include span-columns(4 of 12);
    @include shift(5);
    @include media($tablet) {
      @include span-columns(3 of 4);
      @include shift(1);
    }
    @include media($mobile) {
      @include fill-parent();
      @include shift(0); 
    }
    & input.error { border-color: $_red; }
  }
  & > .label + .content {
    @include shift(0);
  }

}
