/* ******************************************************************** */
/*                                TABLES                                */
/* ******************************************************************** */

$images_size: 80px;

table {
  text-align: left;
  font-family: 'gotham_light';
  width: 100%;

  /* HEAD */
  thead {
    font-family: 'gotham_book';
    border-top: 1px solid $_sensible;
    border-bottom: 1px solid $_sensible;
    text-transform: uppercase;
    color: $_text-secondary;
    font-size: 0.75em;
    font-weight: 200;
    & tr {
      height: $gutter*2;
    }
    & th {
      padding: 0 $gutter;
      &:first-of-type { padding: 0; white-space: nowrap; }
    }
  }
  
  /* BODY */
  tbody tr {
    height: 140px;
    border-bottom: 1px solid $_sensible;
    &:hover { background: $_container; }
    & td {
      min-width: ($column*2 - $gutter);
      @include media($tablet, $mobile) {
        overflow: hidden;
      }
      padding: 0 $gutter;
      color: $_discrete;
      font-size: 0.9em;
      &:first-of-type { 
        padding-right: 0;
        min-width: $images_size;
      }
      &.main {
        color: $_text;
        font-family: 'gotham_medium';
        font-size: 1.1em;
        min-width: ($column*5 - $gutter); // prevention ...
      }
      & > a {
        height: $images_size;
        color: $_text;
        & > div {
          display: table-cell;
          height: $images_size;
          vertical-align: middle;
          & > span {
            @include ellipsis($column*5 - $gutter*2.5); // prevention ...
            display: block;
            @include media ($tablet) {
              max-height: 40px;
              white-space: normal;
            }
            @include media ($mobile) {
              max-height: none;
              white-space: nowrap;
            }
          }
          & > span.headline {
            color: $_discrete;
            font-family: 'gotham_book';
            font-weight: 400;
            font-size: 0.8em;
          }
        }
      }
    }
    & img {
      height: simages_size;
      width: simages_size;
      vertical-align: top;
      display: inline-block;
      border-radius: $border-radius/2;
    }
  }

  /* Responsive sugar */
  @include media($tablet) {
    table-layout: fixed;
  }
  @include media($mobile) {
    th:not(.main), td:not(.main) {
      display: none;
    }
    tbody tr {
      height: 82px;
    }
  }
  
}
