# META PROJECTS
# TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO 
mp_list_meta:
    pattern:  /metas
    defaults: { _controller: metaStandardProjectProfileBundle:Default:list, max: 10 }

mp_new_meta:
    pattern:  /metas/new
    defaults: { _controller: metaStandardProjectProfileBundle:Default:create}

mp_show_meta:
    pattern:  /meta/{slug}
    defaults: { _controller: metaStandardProjectProfileBundle:Info:showInfo}

mp_edit_meta:
    pattern:  /meta/{slug}/edit
    defaults: { _controller: metaStandardProjectProfileBundle:Info:edit }
    requirements:
        _method:  POST

# STANDARD PROJECTS
sp_list_projects:
    pattern:  /projects/{page}
    defaults: { _controller: metaStandardProjectProfileBundle:Default:list, page: 1, max: 10 }
    requirements:
        page: \d+

sp_new_project:
    pattern:  /projects/new
    defaults: { _controller: metaStandardProjectProfileBundle:Default:create}

sp_show_project:
    pattern:  /project/show/{slug}
    defaults: { _controller: metaStandardProjectProfileBundle:Info:showInfo}

sp_edit_project:
    pattern:  /project/edit/{slug}
    defaults: { _controller: metaStandardProjectProfileBundle:Default:edit }
    requirements:
        _method:  POST

sp_edit_project_reset_picture:
    pattern:  /project/resetpicture/{slug}
    defaults: { _controller: metaStandardProjectProfileBundle:Default:resetPicture }

sp_delete_project:
    pattern:  /project/delete/{slug}
    defaults: { _controller: metaStandardProjectProfileBundle:Default:delete}

sp_choose_slug:
    pattern:  /project/slug/{targetAsBase64}
    defaults: { _controller: metaStandardProjectProfileBundle:Default:chooseSlug}

# COMMENTS
sp_show_project_comment:
    pattern:  /project/show/{slug}/comment
    defaults: { _controller: metaStandardProjectProfileBundle:Comment:addStandardProjectComment }
    requirements:
      id: \d+

# TABS --------------------------

## RESOURCES
sp_show_project_resources:
    pattern:  /project/show/{slug}/resources/{page}
    defaults: { _controller: metaStandardProjectProfileBundle:Resource:showResources, page: 1 }
    requirements:
      page: \d+

sp_show_project_resource_edit:
    pattern:  /project/show/{slug}/resource/edit/{id}
    defaults: { _controller: metaStandardProjectProfileBundle:Resource:editResource }
    requirements:
      id: \d+
      _method:  POST

sp_show_project_resource_download:
    pattern:  /project/show/{slug}/resource/download/{id}
    defaults: { _controller: metaStandardProjectProfileBundle:Resource:downloadResource }
    requirements:
      id: \d+

sp_show_project_resource_delete:
    pattern:  /project/show/{slug}/resource/delete/{id}
    defaults: { _controller: metaStandardProjectProfileBundle:Resource:deleteResource }
    requirements:
      id: \d+

## TIMELINE
sp_show_project_timeline:
    pattern:  /project/show/{slug}/timeline/{page}
    defaults: { _controller: metaStandardProjectProfileBundle:Timeline:showTimeline, page: 1 }
    requirements:
      page: \d+

## LISTS
sp_show_project_list_home:
    pattern:  /project/show/{slug}/lists
    defaults: { _controller: metaStandardProjectProfileBundle:List:showCommonListHome}

sp_show_project_list_new:
    pattern:  /project/show/{slug}/list/new
    defaults: { _controller: metaStandardProjectProfileBundle:List:newCommonList}

sp_show_project_list_edit:
    pattern:  /project/show/{slug}/list/edit/{id}
    defaults: { _controller: metaStandardProjectProfileBundle:List:editCommonList}
    requirements:
      id: \d+
      _method:  POST

sp_show_project_list_delete:
    pattern:  /project/show/{slug}/list/delete/{id}
    defaults: { _controller: metaStandardProjectProfileBundle:List:deleteCommonList}
    requirements:
      id: \d+

sp_show_project_list:
    pattern:  /project/show/{slug}/list/{id}/{commonListSlug}
    defaults: { _controller: metaStandardProjectProfileBundle:List:showCommonList, commonListSlug: _ }
    requirements:
      id: \d+

sp_show_project_list_comment:
    pattern:  /project/show/{slug}/list/comment/{id}
    defaults: { _controller: metaStandardProjectProfileBundle:Comment:addCommonListComment}
    requirements:
      id: \d+

sp_show_project_list_rank:
    pattern:  /project/show/{slug}/lists/rank
    defaults: { _controller: metaStandardProjectProfileBundle:List:rankCommonLists}
    requirements:
      _method:  POST

## LIST ITEMS
sp_show_project_listitem_edit:
    pattern:  /project/show/{slug}/list/{listId}/item/{id}
    defaults: { _controller: metaStandardProjectProfileBundle:List:editCommonListItem }
    requirements:
      id: \d+
      listId: \d+
      _method:  POST

sp_show_project_listitem_do:
    pattern:  /project/show/{slug}/list/{listId}/item/{id}/do
    defaults: { _controller: metaStandardProjectProfileBundle:List:toggleCommonListItem, do: true}
    requirements:
      id: \d+
      listId: \d+

sp_show_project_listitem_undo:
    pattern:  /project/show/{slug}/list/{listId}/item/{id}/undo
    defaults: { _controller: metaStandardProjectProfileBundle:List:toggleCommonListItem, do: false}
    requirements:
      id: \d+
      listId: \d+

sp_show_project_listitem_delete:
    pattern:  /project/show/{slug}/list/{listId}/item/{id}/delete
    defaults: { _controller: metaStandardProjectProfileBundle:List:deleteCommonListItem}
    requirements:
      id: \d+
      listId: \d+

sp_show_project_listitem_new:
    pattern:  /project/show/{slug}/list/{listId}/item/new/{name}
    defaults: { _controller: metaStandardProjectProfileBundle:List:newCommonListItem, name: "New Item" }
    requirements:
      listId: \d+


## WIKI 
sp_show_project_wiki:
    pattern:  /project/show/{slug}/wiki
    defaults: { _controller: metaStandardProjectProfileBundle:Wiki:showWikiHome}

sp_show_project_wiki_new_page:
    pattern:  /project/show/{slug}/wiki/page/new
    defaults: { _controller: metaStandardProjectProfileBundle:Wiki:newWikiPage}

sp_show_project_wiki_edit_page:
    pattern:  /project/show/{slug}/wiki/page/edit/{id}
    defaults: { _controller: metaStandardProjectProfileBundle:Wiki:editWikiPage}
    requirements:
      id: \d+
      _method: POST

sp_show_project_wiki_delete_page:
    pattern:  /project/show/{slug}/wiki/page/delete/{id}
    defaults: { _controller: metaStandardProjectProfileBundle:Wiki:deleteWikiPage}
    requirements:
      id: \d+

sp_show_project_wiki_make_home_page:
    pattern:  /project/show/{slug}/wiki/page/make_home/{id}
    defaults: { _controller: metaStandardProjectProfileBundle:Wiki:makeHomeWikiPage}
    requirements:
      id: \d+

sp_show_project_wiki_show_page:
    pattern:  /project/show/{slug}/wiki/page/{id}/{pageSlug}
    defaults: { _controller: metaStandardProjectProfileBundle:Wiki:showWikiPage, pageSlug: _ }
    requirements:
      id: \d+

sp_show_project_wikipage_comment:
    pattern:  /project/show/{slug}/wiki/page/comment/{id}
    defaults: { _controller: metaStandardProjectProfileBundle:Comment:addWikiPageComment }
    requirements:
      id: \d+

sp_show_project_wiki_rank:
    pattern:  /project/show/{slug}/wiki/rank
    defaults: { _controller: metaStandardProjectProfileBundle:Wiki:rankWikiPages}
    requirements:
      _method: POST

# Adding people in projects
sp_add_owner_to_project:
    pattern:  /project/edit/{slug}/add_owner/{username}
    defaults: { _controller: metaStandardProjectProfileBundle:Info:addParticipantOrOwner, owner: true }

sp_add_participant_to_project:
    pattern:  /project/edit/{slug}/add_participant/{username}
    defaults: { _controller: metaStandardProjectProfileBundle:Info:addParticipantOrOwner, owner: false }

# Removing people in projects
sp_remove_owner_to_project:
    pattern:  /project/edit/{slug}/remove_owner/{username}
    defaults: { _controller: metaStandardProjectProfileBundle:Info:removeParticipantOrOwner, owner: true }

sp_remove_participant_to_project:
    pattern:  /project/edit/{slug}/remove_participant/{username}
    defaults: { _controller: metaStandardProjectProfileBundle:Info:removeParticipantOrOwner, owner: false }

# Watching projects
sp_watch_project:
    pattern:  /watch/project/{slug}
    defaults: { _controller: metaStandardProjectProfileBundle:Default:watch }

sp_unwatch_project:
    pattern:  /unwatch/project/{slug}
    defaults: { _controller: metaStandardProjectProfileBundle:Default:unwatch }

