sp_list_project:
    pattern:  /projects
    defaults: { _controller: metaStandardProjectProfileBundle:Default:list, max: 10 }

sp_show_project:
    pattern:  /project/{slug}
    defaults: { _controller: metaStandardProjectProfileBundle:Info:showInfo}
    requirements:
        _method:  GET

sp_edit_project:
    pattern:  /project/{slug}
    defaults: { _controller: metaStandardProjectProfileBundle:Info:edit }
    requirements:
        _method:  POST

# TABS

## TIMELINE
sp_show_project_timeline:
    pattern:  /project/{slug}/timeline/{page}
    defaults: { _controller: metaStandardProjectProfileBundle:Timeline:showTimeline, page: 1 }
    requirements:
      page: \d+


## LISTS
sp_show_project_list_home:
    pattern:  /project/{slug}/lists
    defaults: { _controller: metaStandardProjectProfileBundle:List:showCommonListHome}

sp_show_project_list:
    pattern:  /project/{slug}/list/{id}/{commonListSlug}
    defaults: { _controller: metaStandardProjectProfileBundle:List:showCommonList, commonListSlug: _ }
    requirements:
      id: \d+
      _method:  GET

sp_show_project_list_new:
    pattern:  /project/{slug}/list/new
    defaults: { _controller: metaStandardProjectProfileBundle:List:newCommonList}

sp_show_project_list_delete:
    pattern:  /project/{slug}/list/delete/{id}
    defaults: { _controller: metaStandardProjectProfileBundle:List:deleteCommonList}
    # requirements:
    #     _method:  POST

sp_show_project_list_edit:
    pattern:  /project/{slug}/list/edit/{id}
    defaults: { _controller: metaStandardProjectProfileBundle:List:editCommonList}
    requirements:
      id: \d+
      _method:  POST

## LIST ITEMS
sp_show_project_listitem_edit:
    pattern:  /project/{slug}/list/{listId}/item/{id}
    defaults: { _controller: metaStandardProjectProfileBundle:List:editCommonListItem }
    requirements:
      id: \d+
      listId: \d+
      _method:  POST

sp_show_project_listitem_do:
    pattern:  /project/{slug}/list/{listId}/item/{id}/do
    defaults: { _controller: metaStandardProjectProfileBundle:List:toggleCommonListItem, do: true}
    requirements:
      id: \d+
      listId: \d+

sp_show_project_listitem_undo:
    pattern:  /project/{slug}/list/{listId}/item/{id}/undo
    defaults: { _controller: metaStandardProjectProfileBundle:List:toggleCommonListItem, do: false}
    requirements:
      id: \d+
      listId: \d+

sp_show_project_listitem_delete:
    pattern:  /project/{slug}/list/{listId}/item/{id}/delete
    defaults: { _controller: metaStandardProjectProfileBundle:List:deleteCommonListItem}
    requirements:
      id: \d+
      listId: \d+

sp_show_project_listitem_new:
    pattern:  /project/{slug}/list/{listId}/item/new/{name}
    defaults: { _controller: metaStandardProjectProfileBundle:List:newCommonListItem, name: "New Item" }
    requirements:
      listId: \d+


## WIKI 
sp_show_project_wiki:
    pattern:  /project/{slug}/wiki
    defaults: { _controller: metaStandardProjectProfileBundle:Wiki:showWikiHome}

sp_show_project_wiki_new_page:
    pattern:  /project/{slug}/wiki/page/new
    defaults: { _controller: metaStandardProjectProfileBundle:Wiki:newWikiPage}

sp_show_project_wiki_edit_page:
    pattern:  /project/{slug}/wiki/page/edit/{id}
    defaults: { _controller: metaStandardProjectProfileBundle:Wiki:editWikiPage}
    requirements:
      id: \d+
      _method: POST

sp_show_project_wiki_delete_page:
    pattern:  /project/{slug}/wiki/page/delete/{id}
    defaults: { _controller: metaStandardProjectProfileBundle:Wiki:deleteWikiPage}
    requirements:
      id: \d+

sp_show_project_wiki_show_page:
    pattern:  /project/{slug}/wiki/page/{id}/{pageSlug}
    defaults: { _controller: metaStandardProjectProfileBundle:Wiki:showWikiPage, pageSlug: _ }
    requirements:
      id: \d+


# Adding people in projects
sp_add_owner_to_project:
    pattern:  /project/{slug}/add_owner/{username}
    defaults: { _controller: metaStandardProjectProfileBundle:Info:addParticipantOrOwner, owner: true }

sp_add_participant_to_project:
    pattern:  /project/{slug}/add_participant/{username}
    defaults: { _controller: metaStandardProjectProfileBundle:Info:addParticipantOrOwner, owner: false }

# Removing people in projects
sp_remove_owner_to_project:
    pattern:  /project/{slug}/remove_owner/{username}
    defaults: { _controller: metaStandardProjectProfileBundle:Info:removeParticipantOrOwner, owner: true }

sp_remove_participant_to_project:
    pattern:  /project/{slug}/remove_participant/{username}
    defaults: { _controller: metaStandardProjectProfileBundle:Info:removeParticipantOrOwner, owner: false }

# Watching projects
sp_watch_project:
    pattern:  /watch/{slug}
    defaults: { _controller: metaStandardProjectProfileBundle:Default:watch }

sp_unwatch_project:
    pattern:  /unwatch/{slug}
    defaults: { _controller: metaStandardProjectProfileBundle:Default:unwatch }

