{% extends 'metaGeneralBundle:Community:layout-full.html.twig' %}

{% block title %}{{ parent() }} > {{ "credits"|trans }}{% endblock %}

{% block header %}

  <div class="title">

    <h2>
      {{ "credits"|trans }}
    </h2>

    <h3>
      {{ "creditsHelp"|trans }}
    </h3>

  </div>

{% endblock %}

{% block content %}
<div class="wrapper community">

<section class="credits">

  <h2>OpenId Symfony 2 Bundle <em class="author">by formapro</em></h2>
  <span class="license">MIT</span>
  <a href="https://github.com/formapro/FpOpenIdBundle">https://github.com/formapro/FpOpenIdBundle</a>

  <p>This bundle is under the MIT license, by https://github.com/formapro</p>

  <h2>ExposeTranslation Bundle <em class="author">by William Durand</em></h2>
  <span class="license">MIT</span>
  <a href="https://github.com/willdurand/BazingaExposeTranslationBundle">https://github.com/willdurand/BazingaExposeTranslationBundle</a>

  <p>This bundle is under the MIT license, by William Durand (https://github.com/willdurand)</p>


  <h2>Bourbon & Neat <em class="author">by thoughtbot, inc</em></h2>
  <span class="license">MIT</span>
  <a href="http://bourbon.io/">http://bourbon.io/</a>

  <p>Bourbon and NEAT are maintained and funded by thoughtbot, inc.</p>
  <p>Bourbon and NEAT are Copyright © 2011-2013 thoughtbot under the MIT License. It is free software, and may be redistributed under the terms specified in the LICENSE file.</p>

  <h2>Alertify <em class="author">by Fabien Doiron</em></h2>
  <span class="license">MIT</span>
  <a href="http://fabien-d.github.io/alertify.js/">http://fabien-d.github.io/alertify.js/</a>
  <p>alertify.js is licensed under MIT, copyright © Fabien Doiron</p>


  <h2>Redactor.js</h2>
  <span class="license">MIT</span>
  <a href="https://github.com/html5cat/redactor-js">https://github.com/html5cat/redactor-js</a>

  <p>Redactor below version 7.6.2 is under the MIT License. See : https://github.com/html5cat/redactor-js</p>


  <h2>Dropzone.js <em class="author">by enyo</em></h2>
  <span class="license">MIT</span>
  <a href="https://github.com/enyo/dropzone">https://github.com/enyo/dropzone</a>

  <p>Dropzone is under the MIT License. See : https://github.com/enyo/dropzone</p>


  <h2>Font Awesome <em class="author">by Dave Gandy</em></h2>
  <span class="license">SIL / MIT / CC BY 3.0</span>
  <a href="http://fortawesome.github.com/Font-Awesome">http://fortawesome.github.com/Font-Awesome</a>

  <p>The Font Awesome font is licensed under the SIL Open Font License - http://scripts.sil.org/OFL.</p>
  <p>Font Awesome CSS, LESS, and SASS files are licensed under the MIT License - http://opensource.org/licenses/mit-license.html.</p>
  <p>The Font Awesome pictograms are licensed under the CC BY 3.0 License - http://creativecommons.org/licenses/by/3.0/</p>


  <h2>jCrop jQuery plugin <em class="author">by Kelly Hallman</em></h2>
  <span class="license">MIT</span>
  <a href="http://deepliquid.com/projects/Jcrop/">http://deepliquid.com/projects/Jcrop</a>

  <p>© 2008-2010 Kelly Hallman</p>
  <p>Free software released under MIT License</p>

  <h2>Nestable jQuery Plugin <em class="author">by David Bushell</em></h2>
  <span class="license">BSD + MIT</span>
  <a href="https://github.com/tchapi/Nestable">https://github.com/tchapi/Nestable</a>

  <p>Copyright (c) 2013 David Bushell - http://dbushell.com/</p>
  <p>Contributions by tchapi (https://github.com/tchapi) - https://github.com/tchapi/Nestable</p>
  <p>Dual-licensed under the BSD or MIT licenses</p>

  <h2>Linecons UI icons</h2>
  <span class="license">CC BY 3.0</span>
  <a href="http://designmodo.com/linecons-free">http://designmodo.com/linecons-free</a>

  <p>Polaris UI and Linecons is licensed under a Creative Commons Attribution 3.0 Unported (CC BY 3.0)  (http://creativecommons.org/licenses/by/3.0/)</p>

  <h2>Markdown Bundle</h2>
  <span class="license">MIT</span>
  <a href="https://github.com/KnpLabs/KnpMarkdownBundle">https://github.com/KnpLabs/KnpMarkdownBundle</a>

  <p>Provide markdown conversion (based on Michel Fortin work).</p>

</section>
</div>
{% endblock %}