{% extends 'metaProjectBundle:Project:show.html.twig' %}

{% block title %}{{ parent() }} | {{ "project.timeline.title"|trans }}{% endblock %}

{% set shortcode %}[[project:{{ base.project.id|to_uid }}]]{% endset %}

{% block content %}
<div class="wrapper info">

  <section>
  {% render(controller("metaProjectBundle:Comment:addProjectComment", { 'uid' : base.project.id|to_uid })) %}
  {% render(controller("metaProjectBundle:Timeline:history", { 'uid' : base.project.id|to_uid, 'page' : 1 })) %}
  </section>

</div>
{% endblock %}

{% block navbar %}
{% render(controller("metaProjectBundle:Base:navbar", { 'activeMenu' : 'timeline', 'uid' : base.project.id|to_uid, 'canEdit' : base.canEdit })) %}
{% endblock %}