{% extends 'metaAdminBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > Billing plans - error{% endblock %}

{% block section %}Billing plans - error{% endblock %}

{% block content %}
<div class="wrapper info">
  <h3>There has been an error contacting the PayPal service. Please try again later</h3>
</div>
{% endblock %}
