{% extends 'metaAdminBundle::layout.html.twig' %}

{% block title %}{{ parent() }} > Billing plans - error{% endblock %}

{% block section %}Billing plans - error{% endblock %}

{% block content %}
<div class="wrapper info">
  <section>
    <h2><i class="fa fa-warning"></i> There has been an error contacting the PayPal service. Please try again later.</hZ>
  </section>
</div>
{% endblock %}
