{% extends '::base.html.twig' %}
{% set template = "card" %}

{% block title %}{{ parent() }} > {{ "community.title"|trans }}{% endblock %}

{% block container %}

<header>
{% block header %}{% endblock %}
</header>

<section>
{% block content %}{% endblock %}
</section>

{% endblock %}
