{% extends 'metaGeneralBundle:Community:layout.html.twig' %}

{% block title %}{{ parent() }} > {{ "community.upgrade"|trans }}{% endblock %}

{% block header %}
  <div class="title">
    <h2>{{ "community.upgrade"|trans }}</h2>
    <h3>...</h3>
  </div>
{% endblock %}

{% block content %}
<section>
  <div class="content-full">
    Different pricing plans ...
  </div>
</section>
{% endblock %}