parameters:
  general.log_concurrent_merge_interval: 3600
  general.log_routing:
    user: u_show_user_profile
    project: sp_show_project
    idea: i_show_idea
    other_user: u_show_user_profile
    list: sp_show_project_list
    resource: sp_show_project_resources
    wikipage: sp_show_project_wiki_show_page
  general.log_types:
# User acting for his profile or on another user
    user_created: # DONE
      combinable: true
      type: other_user
      icon: check
      text: %%user$s has just joined us — hooray!
    user_update_profile: # DONE
      combinable: true
      type: other_user
      icon: edit
      text: %%user$s has updated its profile.
    user_follow_user: # DONE
      combinable: true
      type: other_user
      icon: pushpin
      text: %%user$s has started following %%other_user$s.
# User acting on a project
    user_create_project: # DONE
      combinable: true
      type: project
      icon: beaker
      text: %%user$s created a new project %%project$s.
    user_comment_project: # DONE
      combinable: false
      type: project
      icon: beaker
      text: %%user$s commented on the project %%project$s.
    user_create_project_from_idea: # DONE
      combinable: true
      type: project
      icon: beaker
      text: %%user$s created a new project %%project$s from the idea %%idea$s.
    user_is_made_owner_project: # DONE
      combinable: true
      type: project
      icon: key
      text: %%user$s was promoted owner of the project %%project$s by %%other_user$s.
    user_is_made_participant_project: # DONE
      combinable: true
      type: project
      icon: group
      text: %%user$s was made a participant in the project %%project$s by %%other_user$s.
    user_watch_project: # DONE
      combinable: true
      type: project
      icon: eye-open
      text: %%user$s has started watching the project %%project$s.
    user_update_project_info: # DONE
      combinable: true
      type: project
      icon: edit
      text: %%user$s has updated some information for the project %%project$s.
    user_create_wikipage: # DONE
      combinable: true
      type: project
      icon: file-alt
      text: %%user$s has created a new page %%wikipage$s in project %%project$s's wiki.
    user_update_wikipage: # DONE
      combinable: true
      type: project
      icon: edit
      text: %%user$s has updated the page %%wikipage$s in project %%project$s's wiki.
    user_comment_wikipage: # DONE
      combinable: true
      type: project
      icon: comments-alt
      text: %%user$s has commented the page %%wikipage$s in project %%project$s's wiki.
    user_delete_wikipage: # DONE
      combinable: true
      type: project
      icon: trash
      text: %%user$s has deleted the page %%wikipage$s in project %%project$s's wiki.
    user_create_list: # DONE
      combinable: true
      type: project
      icon: list
      text: %%user$s has created a new list %%list$s in the project %%project$s.
    user_update_list: # DONE
      combinable: true
      type: project
      icon: edit
      text: %%user$s has updated the list %%list$s in the project %%project$s.
    user_comment_list: # DONE
      combinable: true
      type: project
      icon: comments-alt
      text: %%user$s has commented the list %%list$s in the project %%project$s.
    user_delete_list: # DONE
      combinable: true
      type: project
      icon: trash
      text: %%user$s has deleted the list %%list$s in the project %%project$s.
    user_create_list_item: # DONE
      combinable: true
      type: project
      icon: indent-right
      text: %%user$s has created a new list item %%list_item$s in the list %%list$s in the project %%project$s.
    user_update_list_item: # DONE
      combinable: true
      type: project
      icon: edit
      text: %%user$s has updated the list item %%list_item$s of the list %%list$s in the project %%project$s.
    user_delete_list_item: # DONE
      combinable: true
      type: project
      icon: indent-left
      text: %%user$s has deleted the list item %%list_item$s of the list %%list$s in the project %%project$s.
    user_do_list_item: # DONE
      combinable: true
      type: project
      icon: check
      text: %%user$s has finished the list item %%list_item$s of the list %%list$s in the project %%project$s.
    user_undo_list_item: # DONE
      combinable: true
      type: project
      icon: check-empty
      text: %%user$s has reopened the list item %%list_item$s of the list %%list$s in the project %%project$s.
    user_add_resource: 
      combinable: true
      type: project
      icon: file
      text: %%user$s has added the resource %%resource$s to the project %%project$s.
    user_update_resource: 
      combinable: true
      type: project
      icon: paste
      text: %%user$s has updated the resource %%resource$s of the project %%project$s.
    user_delete_resource: 
      combinable: true
      type: project
      icon: trash
      text: %%user$s has deleted the resource %%resource$s of the project %%project$s.
# User acting on an idea
    user_transform_idea_in_project: # DONE
      combinable: true
      type: idea
      icon: upload-alt
      text: %%user$s has created a new project %%project$s from the idea %%idea$s.
    user_create_idea: # DONE
      combinable: true
      type: idea
      icon: lightbulb
      text: %%user$s created a new idea %%idea$s.
    user_comment_idea: # DONE
      combinable: false
      type: idea
      icon: lightbulb
      text: %%user$s commented on the idea %%idea$s.
    user_is_made_creator_idea: # DONE
      combinable: true
      type: idea
      icon: share
      text: %%other_user$s transfered owner of the idea %%idea$s to %%user$s.
    user_update_idea_info: # DONE
      combinable: true
      type: idea
      icon: edit
      text: %%user$s has updated some information for the idea %%idea$s.
    user_is_made_participant_idea: # DONE
      combinable: true
      type: idea
      icon: group
      text: %%user$s was made a participant in the idea %%idea$s by %%other_user$s.
    user_watch_idea: # DONE
      combinable: true
      type: idea
      icon: eye-open
      text: %%user$s has started watching the idea %%idea$s.







