parameters:
  general.log_concurrent_merge_interval: 3600
  general.log_routing:
    community: 
      path: g_home_community
      is_uid: true
      key: uid
    user: 
      path: u_show_user_profile
      is_uid: false
      key: username
    project: 
      path: p_show_project
      is_uid: true
      key: uid
    idea: 
      path: i_show_idea
      is_uid: true
      key: uid
    other_user: 
      path: u_show_user_profile
      is_uid: false
      key: username
    list: 
      path: p_show_project_list
      is_uid: true
      key: list_uid
    resource:
      path: p_show_project_resource
      is_uid: true
      key: resource_uid
    wikipage: 
      path: p_show_project_wiki_show_page
      is_uid: true
      key: page_uid
  general.log_types:
# User acting for his profile or on another user
    user_created: # DONE
      combinable: false
      displayable: true
      filter_groups: [creations, users]
      type: other_user
      icon: check
    user_update_profile: # DONE
      combinable: true
      displayable: true
      filter_groups: [updates, users]
      type: other_user
      icon: edit
    user_follow_user: # DONE
      combinable: false
      displayable: true
      filter_groups: [general, users, social]
      type: other_user
      icon: pushpin
    user_enters_community: # DONE
      combinable: false
      displayable: true
      filter_groups: [general, users, social, community]
      type: other_user
      icon: globe
# User acting on a project
    project_enters_community: # DONE
      combinable: false
      displayable: true
      filter_groups: [creations, community, projects]
      type: project
      icon: globe
    user_create_project: # DONE
      combinable: false
      displayable: true
      filter_groups: [creations, projects]
      type: project
      icon: beaker
    user_comment_project: # DONE
      combinable: false
      displayable: false
      filter_groups: [comments, projects]
      type: project
      icon: beaker
    user_create_project_from_idea: # DONE
      combinable: false
      displayable: true
      filter_groups: [creations, projects, ideas]
      type: project
      icon: beaker
    user_made_user_owner_project: # DONE
      combinable: false
      displayable: true
      filter_groups: [updates, users, projects, social]
      type: project
      icon: key
    user_made_user_participant_project: # DONE
      combinable: false
      displayable: true
      filter_groups: [updates, users, projects, social]
      type: project
      icon: group
    user_watch_project: # DONE
      combinable: false
      displayable: true
      filter_groups: [users, projects, social]
      type: project
      icon: eye-open
    user_update_project_info: # DONE
      combinable: true
      displayable: true
      filter_groups: [updates, general, projects]
      type: project
      icon: edit
    user_create_wikipage: # DONE
      combinable: false
      displayable: true
      filter_groups: [creations, projects, wiki]
      type: project
      icon: file-alt
    user_update_wikipage: # DONE
      combinable: true
      displayable: true
      filter_groups: [updates, projects, wiki]
      type: project
      icon: edit
    user_comment_wikipage: # DONE
      combinable: true
      displayable: true
      filter_groups: [comments, projects, wiki]
      type: project
      icon: comments-alt
    user_delete_wikipage: # DONE
      combinable: false
      displayable: true
      filter_groups: [deletions, projects, wiki]
      type: project
      icon: trash
    user_create_list: # DONE
      combinable: false
      displayable: true
      filter_groups: [creations, projects, lists]
      type: project
      icon: list
    user_update_list: # DONE
      combinable: true
      displayable: true
      filter_groups: [updates, projects, lists]
      type: project
      icon: edit
    user_comment_list: # DONE
      combinable: true
      displayable: true
      filter_groups: [comments, projects, lists]
      type: project
      icon: comments-alt
    user_delete_list: # DONE
      combinable: false
      displayable: true
      filter_groups: [deletions, projects, lists]
      type: project
      icon: trash
    user_create_list_item: # DONE
      combinable: false
      displayable: true
      filter_groups: [creations, projects, lists]
      type: project
      icon: indent-right
    user_update_list_item: # DONE
      combinable: true
      displayable: true
      filter_groups: [updates, projects, lists]
      type: project
      icon: edit
    user_delete_list_item: # DONE
      combinable: false
      displayable: true
      filter_groups: [deletions, projects, lists]
      type: project
      icon: indent-left
    user_do_list_item: # DONE
      combinable: false
      displayable: true
      filter_groups: [updates, projects, lists]
      type: project
      icon: check
    user_undo_list_item: # DONE
      combinable: false
      displayable: true
      filter_groups: [updates, projects, lists]
      type: project
      icon: check-empty
    user_add_resource: 
      combinable: false
      displayable: true
      filter_groups: [creations, projects, resources]
      type: project
      icon: file
    user_update_resource: 
      combinable: true
      displayable: true
      filter_groups: [updates, projects, resources]
      type: project
      icon: paste
    user_delete_resource: 
      combinable: false
      displayable: true
      filter_groups: [deletions, projects, resources]
      type: project
      icon: trash
    user_change_project_status:
      combinable: true
      displayable: true
      filter_groups: [updates, projects, general]
      type: project
      icon: location-arrow
# User acting on an idea
    idea_enters_community: # DONE
      combinable: false
      displayable: true
      filter_groups: [creations, community, ideas]
      type: idea
      icon: globe
    user_transform_idea_in_project: # DONE
      combinable: true
      displayable: true
      filter_groups: [creations, projects, ideas]
      type: idea
      icon: upload-alt
    user_create_idea: # DONE
      combinable: false
      displayable: true
      filter_groups: [creations, ideas]
      type: idea
      icon: lightbulb
    user_comment_idea: # DONE
      combinable: false
      displayable: false
      filter_groups: [comments, ideas]
      type: idea
      icon: lightbulb
    user_is_made_creator_idea: # DONE
      combinable: false
      displayable: true
      filter_groups: [updates, ideas, users]
      type: idea
      icon: share
    user_update_idea_info: # DONE
      combinable: true
      displayable: true
      filter_groups: [updates, general, ideas]
      type: idea
      icon: edit
    user_made_user_participant_idea: # DONE
      combinable: false
      displayable: true
      filter_groups: [updates, users, ideas, social]
      type: idea
      icon: group
    user_watch_idea: # DONE
      combinable: false
      displayable: true
      filter_groups: [users, ideas, social]
      type: idea
      icon: eye-open

# Backward compatibility :
    user_is_made_participant_idea: # DELETE
      combinable: false
      displayable: true
      filter_groups: [updates, users, ideas, social]
      type: idea
      icon: group
    user_is_made_owner_project: # DELETE
      combinable: false
      displayable: true
      filter_groups: [updates, users, projects, social]
      type: project
      icon: key
    user_is_made_participant_project: # DELETE
      combinable: false
      displayable: true
      filter_groups: [updates, users, projects, social]
      type: project
      icon: group




