# Community

g_home_community:
    pattern: /
    defaults: { _controller: metaGeneralBundle:Home:home }

g_switch_community:
    pattern: /switch/community/{id}
    defaults: { _controller: metaGeneralBundle:Default:switchCommunity }
    requirements:
      id: \d+

g_switch_private_space:
    pattern: /switch/privatespace
    defaults: { _controller: metaGeneralBundle:Default:switchCommunity, id: null }

# Language

g_switch_language:
  pattern: /language/{locale}
  defaults: { _controller: metaGeneralBundle:Default:switchLanguage}

# General

g_choose_file:
    pattern:  /file/upload/{targetAsBase64}
    defaults: { _controller: metaGeneralBundle:Default:chooseFile }

g_choose_community:
    pattern:  /community/choose/{targetAsBase64}
    defaults: { _controller: metaGeneralBundle:Default:chooseCommunity }

# Comments

g_validate_comment:
    pattern: /comment/validate/{id}
    defaults: { _controller: metaGeneralBundle:Default:validateComment }
    requirements:
      _method: POST
      id: \d+

g_delete_comment:
    pattern: /comment/delete/{id}
    defaults: { _controller: metaGeneralBundle:Default:deleteComment }
    requirements:
      _method: POST
      id: \d+
