parameters:
    textService.class: meta\GeneralBundle\Services\TextService
    logService.class: meta\GeneralBundle\Services\LogService

services:
    meta.twig.deep_linking_extension:
        class: meta\GeneralBundle\Twig\DeepLinkingExtension
        tags:
            - { name: twig.extension }
        arguments: 
            deep_linking_tags: %general.deep_linking_tags%
            # twig: "@twig"
            entity_manager: "@doctrine.orm.entity_manager"
    textService:
        class: "%textService.class%"
    logService:
        class: "%logService.class%"
        arguments: 
            entity_manager: "@doctrine.orm.entity_manager"
            log_types: %general.log_types%
            log_routing: %general.log_routing%
            log_concurrent_merge_interval: %general.log_concurrent_merge_interval%
            twig: "@twig"
