parameters:
    textService.class: meta\GeneralBundle\Services\TextService
    logService.class: meta\GeneralBundle\Services\LogService

services:
    # TWIG
    uid:
        class: meta\GeneralBundle\Twig\UIDExtension
        tags:
            - { name: twig.extension }
    deep_linking_extension:
        class: meta\GeneralBundle\Twig\DeepLinkingExtension
        tags:
            - { name: twig.extension }
        arguments: 
            deep_linking_tags: %general.deep_linking_tags%
            entity_manager: "@doctrine.orm.entity_manager"
            router: "@router"
            translator: "@translator"
            uid: "@uid"
            log_routing: %general.log_routing%
    # NOT TWIG
    textService:
        class: "%textService.class%"
    logService:
        class: "%logService.class%"
        arguments: 
            entity_manager: "@doctrine.orm.entity_manager"
            log_types: %general.log_types%
            log_filters: %general.log_filters%
            log_routing: %general.log_routing%
            log_concurrent_merge_interval: %general.log_concurrent_merge_interval%
            csrf_provider: "@form.csrf_provider"
            security_context: "@security.context"
            twig: "@twig"
            translator: "@translator"
            uid: "@uid"
