parameters:
    textService.class: meta\GeneralBundle\Services\TextService
    logService.class: meta\GeneralBundle\Services\LogService

services:
    textService:
        class: "%textService.class%"
    logService:
        class: "%logService.class%"
        arguments: 
            entityManager: "@doctrine.orm.entity_manager"
            log_types: %general.log_types%
