{% extends 'metaStandardProjectProfileBundle:Default:show.html.twig' %}

{% block title %}{{ parent() }} > {{ base.standardProject.name }} | Timeline{% endblock %}

{% block navbar %}
{% render "metaStandardProjectProfileBundle:Default:navbar" with { 'activeMenu' : 'timeline', 'slug' : base.standardProject.slug } %}
{% endblock %}

{% block content %}
<section>
{% render "metaStandardProjectProfileBundle:Comment:addStandardProjectComment" with { 'slug' : base.standardProject.slug } %}
</section>
<section>
{% render "metaStandardProjectProfileBundle:Timeline:history" with { 'slug' : base.standardProject.slug, 'page' : 1 } %}
</section>
{% endblock %}