<ul class="history">
{% for step in timeframe %}
 {# {% if step.data|length > 0%} #}
  <li class="date">{{ step.name}}</li>

  {% for item in step.data %}
    <li>{{ item|raw }}</li>
  {% endfor %}

{#  {% endif %} #}
{% endfor %}
</ul>