<!DOCTYPE html>
<html style="margin-top: 0 !important" lang="fr-FR" class="csstransforms csstransforms3d csstransitions">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <title>igneet | Terms & Conditions</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]--> 
  
{% block stylesheets %}

  {% stylesheets  'bundles/metastatic/css/base.css' 
                  'bundles/metastatic/css/layout.css' 
                  'bundles/metastatic/css/skeleton.css' 
                  'bundles/metastatic/css/style.css' 
                  'bundles/metastatic/css/fonts.css' 
                  'bundles/metageneral/css/font-awesome.css' 
    filter='?yui_css,cssrewrite' output='css/min/static.css' %}
          <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
  {% endstylesheets %}

{% endblock %}

</head>

<body class="home">

  <div id="intro">
  
    <div class="bg1"></div>
    
    <div class="title">
      <div class="intro-line"></div>
      <h1 class="small"><i class="icon-fire"></i> igneet.com</h1>
      <div class="intro-line"></div>
      <p>Conditions d'utilisation et protection des données - dernière mise à jour le 10 Octobre 2013</p>
   
      <div class="clear"></div><br>
      
    </div>
  </div> <!-- end intro -->
  <div class="bg white-bg" id="why">
    <div class="container">

      <div class="clear"></div><br/>
      <div class="row">

        <div class="eight columns ">
          <h2><span class="lines">Utilisation</span></h2>
          <p>Igneet.com est fourni à l’heure actuelle en version Beta. </p>
          <p>A ce titre, le service est donc fourni tel quel et sans garantie de durée.</p>
          <p>Nous ferons de notre mieux pour vous fournir le service au meilleur de sa performance.</p>
          <p>En utilisant le service, vous acceptez ces conditions d’utilisation.</p>
        </div>

        <div class="eight columns ">
          <h2><span class="lines">Confidentialité</span></h2>
          <p>Igneet.com ne récolte que le minimum d'information possible afin de vous offrir un serice personnalisé et de qualité</p>
          <p>Notre engagement de confidentialité n'engage que nous, excluant donc les sites externes sur lesquels vous pourriez naviguer</p>
          <p>Nous travaillons avec des partenaires externes pour l'hebergement de nos données, nous sommes attentifs au niveau de confidentialité que ces derniers savent fournir</p>
          <p>En utilisant le service, vous acceptez cette charte de confidentialité.</p>
        </div>

        
        
      </div> {# end row #}
    </div> <!-- end container -->
  </div> <!-- end why -->


  <div id="contact" class="dark-bg">
      <div class="container">
      
          <div class="sixteen columns">
              <h2 class="white"><span class="lines">Conditions d'utilisation</span></h2>
          </div> <!-- end sixteen columns -->

          <div class="sixteen columns ">
            <p>LES PRESENTES CONDITIONS D’UTILISATION REGISSENT VOTRE UTILISATION GRATUITE, VOTRE SOUSCRIPTION ET L’UTILISATION QUE VOUS FEREZ DES SERVICES.</p>
            <p>Avant d'utiliser nos Services, vous êtes tenu de lire, comprendre ET accepter ces conditions. Vous ne pouvez créer et utiliser un compte qu’après avoir lu ET accepté les présentes conditions. En utilisant le service, vous acceptez ces conditions d’utilisation.</p>

            <h5>NOS RESPONSABILITÉS SUR L'UTILISATION DES SERVICES</h5>
            <p>Nous nous engageons à vous assurer un support par email, en répondant à l’ensemble des questions que vous nous adresserez dans un délai raisonnable.</p>
            <p>Nous mettrons en oeuvre tout notre possible afin que les services soient disponibles vingt-quatre heures sur vingt-quatre (24/24), sept jours sur sept (7/7 j) à l’exception : (a) des périodes d’indisponibilité programmées ou (b) de toute indisponibilité due à des circonstances indépendantes de notre volonté.</p>
            <p>En utilisant nos services, vous nous fournissez des informations, fichiers et dossiers. Vous conservez l’entière propriété de ces informations. En vertu de notre charte de confidentialité, nous ne revendiquons aucun droit de propriété les concernant. Les présentes conditions ne nous accordent aucun droit sur ces informations ou votre propriété intellectuelle, à l’exception des droits limités requis pour l’exécution des Services et des contributions liées aux idées ou suggestions d’amélioration de notre service. </p>
            <p>Les services fournissent des fonctionnalités qui vous permettent de partager des informations avec autrui, y compris hors du réseau de votre société. Les utilisateurs peuvent faire de nombreuses choses avec ces informations (par exemple les copier, les modifier, les partager à nouveau). Prêtez une grande attention à ce que vous choisissez de partager ou de rendre public. Nous nous dégageons de toute responsabilité en la matière.</p>
            <h5>LIMITATION DE RESPONSABILITÉ</h5>
            <p>Même si nous ferons notre possible pour vous fournir la meilleure expérience utilisateur possible, nous ne pouvons vous garantir un fonctionnement à 100% du service.
            Nous ne pouvons être tenus responsables des conséquences sur vous ou votre activité d’un dysfonctionnement d’Igneet.com ou de tout autre service lié.</p>
            <p>En particulier, nous ne pouvons être tenus responsables d’un manque à gagner ou d’une perte de chiffre d’affaires ou de tout dommage indirect, spécial, accessoire, consécutif, punitif ou du coût de services de remplacement, qui peuvent résulter de l’accès à ce site ou à ses services, dommages incluant notamment, mais sans limitation, tout préjudice financier ou commercial, même si nous avons été avisés de la possibilité d’occurrence de tels dommages.</p>

            <h5>VOS RESPONSABILITÉS SUR L'UTILISATION DES SERVICES</h5>

            <p>Vous assumez l’entière responsabilité de l’exactitude, de la qualité, de l’intégrité et de la légalité de vos données. Vous êtes responsable de votre conduite et de toute conduite sous votre compte et tout le contenu qui est créé, transmis, stocké ou affiché par quiconque utilisant votre information de compte avec les Services et pour les conséquences découlant de celle-ci.
            Vous vous engagez à prendre toutes les mesures raisonnables pour prévenir l’accès non autorisé ou l’utilisation non autorisée nos services et à nous informer dès que possible en cas d’accès frauduleux ou d’utilisation non autorisée. Vous acceptez de n'utiliser les services qu'à des fins légales, convenables et en conformité avec ces conditions d'utilisation et les conventions séparées, et toutes les lois et règlements applicables dans les juridictions concernées.</p>

            <p>Notamment, vous vous engagez :</p>
            <ul>
              <li class="terms">à limiter l’accès aux services exclusivement aux utilisateurs duement enregistrés et ne pas vendre,  revendre ou louer l’accès à nos services ;</li>
              <li class="terms">à ne pas utiliser les services pour enregistrer ou transmettre des données illicites, diffamatoires ou autrement illégaux ou délictueux ou pour enregistrer ou transmettre des éléments en violation du droit d’un tiers au respect de sa vie privée ;</li>
              <li class="terms">à ne pas utiliser les services pour enregistrer ou transmettre un Code malveillant ;</li>
              <li class="terms">à ne pas altérer ou perturber l’intégrité ou l’exécution des services ou des données tierces qui sont contenues ;</li>
              <li class="terms">à ne pas tenter d’obtenir un accès non autorisé aux services ou aux systèmes ou réseaux qui leur sont associés ;</li>
              <li class="terms">à pas utiliser nos marques et logo sans autorisation écrite préalable de notre part;</li>
            </ul>
            <h5>DURÉE, RÉSILIATION ET FIN DE CONTRAT</h5>
            <p>Le présent contrat prend effet à la date à laquelle Vous l’acceptez et se poursuit jusqu’à l’expiration ou la résiliation de tous les abonnements utilisateurs consentis.
            </p>
            <p>A tout instant, vous pouvez demander la suppression de votre compte utilisateur.</p>

            <p>À votre demande formulée dans les 90 jours suivant la date d’effet de la résiliation d’un abonnement à des Services souscrits, Nous mettrons à Votre disposition pour téléchargement un fichier de Vos Données ainsi que des pièces jointes au format d’origine. Au terme de cette période de 90 jours, Nous n’aurons aucune obligation de conserver ou de fournir Vos Données et, sauf interdiction légale, Nous effacerons ensuite toutes Vos Données présentes dans Nos systèmes ou autrement en Notre possession ou sous Notre contrôle.
            </p>
            <br>

          </div><br>

          <div class="clear"></div>
          
      </div> <!-- end container -->
  </div> <!-- end contact -->
    
  <div class="bg white-bg" id="why">
    <div class="container">

      <div class="clear"></div><br/>

      

      <div class="row">
        <div class="sixteen columns ">
          <h2><span class="lines">Charte de Confidentialité</span></h2>
          <p>En utilisant Igneet.com, vous acceptez les pratiques décrites dans cette charte. Cette charte de confidentialité ne s'applique pas aux pratiques des tierces parties (autres applications et sites webs ou personnes hors de nos équipes).</p>
          <p>Les renseignements que nous recueillons sont utiles pour vous permettre d'utiliser nos services.
           L’ensemble des données collectées demeurent à l’usage interne exclusif d’Igneet qui est seul et unique propriétaire des informations recueillies sur ses sites internet.</p> 
          <p>Nous pouvons utiliser vos données personnelles pour :</p>
          <ul>
            <li class="terms">prévenir et détecter les fraudes ou autres activités illégales ou interdites ;</li>
            <li class="terms">protéger la sécurité et l’intégrité de nos sites internet et services ;</li>
            <li class="terms">honorer vos demandes d’inscription ;</li>
            <li class="terms">traiter vos commandes ; </li>
            <li class="terms">faciliter votre utilisation de nos sites internet et services ;</li>
            <li class="terms">vous informer des nouveaux produits et services, mises à jour de produits ;</li>
            <li class="terms">communiquer avec vous au sujet de problèmes techniques ;</li>
          </ul>
          <p>Nous pouvons également utiliser les informations collectées pour améliorer nes sites internet et les services.</p>

          <h5>PARTAGE D'INFORMATIONS PERSONNELLES</h5>
          <p>Nous nous engageons à ne pas partager, ni vendre, ni louer, ni échanger vos informations personnelles et confidentielles avec aucune tierce partie dans un but promotionnel.</p>
          <p>Igneet fait appel à des partenaires, notamment pour les services d’hébergement externes ou pour fournir le matériel informatique, le réseau, le stockage et toute technologie nécessaire pour permettre l’accès  à nos sites internet et aux services Igneet. Nous mettons tout en oeuvre pour sélectionner des partenaires dont les politiques de confidentialité respectent au mieux l’ensemble de vos données.</p>

          <h5>LIMITE DE RESPONSABILITÉ</h5>
          <p>Des liens vers d’autres sites web sont disponibles depuis notre site internet et nos services. Si vous utilisez ces liens, vous quittez nos sites et nos services. Nous ne sommes en aucun cas responsable des contenus et/ou de la politique de confidentialité des données personnelles de ces autres sites. Igneet ne cautionne ni n’approuve les contenus auxquels ces sites ou sources donnent accès, et exclut toute responsabilité et garantie en ce qui concerne ces contenus. Si vous décidez d’accéder à ces sites, vous le faites sous votre entière responsabilité
          </p>
        </div>
      
        
      </div>

    </div> <!-- end container -->
  </div> <!-- end why -->


   <div id="contact" class="dark-bg">
        <div class="container">
        
            <div class="clear"></div>

            <div class="sixteen columns">
                <div class="copyright">
                    <p>© 2013 <a href="http://igneet.com/">igneet</a> | coded with <i class="icon-heart-empty"></i> by <a href="http://github.com/tchapi">tchapi</a> | <a href="/terms">terms & privacy</a></p>
                </div>
            </div>
            
        </div> <!-- end container -->
    </div> <!-- end contact -->    

          
<!-- JS
    ================================================== -->
  
{% block javascripts %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  
  {% javascripts '@metaStaticBundle/Resources/public/js/jquery.sticky.js'
                 '@metaStaticBundle/Resources/public/js/jquery.smooth-scroll.js'
                 '@metaStaticBundle/Resources/public/js/contact-form.js'
                 '@metaStaticBundle/Resources/public/js/jquery.easing.1.3.js'
                 '@metaStaticBundle/Resources/public/js/jquery.inview.js'
                 '@metaStaticBundle/Resources/public/js/jquery.mobilemenu.js' filter='?yui_js' output='js/min/static.js' %}
          <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% if ga_tracker_id != 0 %}
          <script type="text/javascript">

            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '{{ga_tracker_id}}', '{{host}}');
            ga('send', 'pageview');

          </script>
  {% endif %}

{% endblock %}

  <script type="text/javascript">

    var scrollTo = function(target){
      var myArray = target.split('#');
      var targetPosition = jQuery('#' + myArray[1]).offset().top;
      jQuery('html,body').animate({ scrollTop: targetPosition}, 'slow');
    };

    jQuery(document).ready(function() {

      jQuery("nav").sticky({topSpacing:0});

      jQuery('nav ul').mobileMenu({
        defaultText: 'Aller à ...',
        className: 'mobile-menu',
        subMenuDash: '&ndash;'
      });

    });
    
  </script>

</body></html>