{% extends 'metaIdeaBundle:Idea:show.html.twig' %}

{% block title %}{{ parent() }} | {{ "idea.timeline.title"|trans }}{% endblock %}

{% block content %}
<div class="wrapper info">

  <section>
  {% render(controller("metaIdeaBundle:Idea:addIdeaComment", { 'uid' : base.idea.id|to_uid })) %}
  {% render(controller("metaIdeaBundle:Idea:history", { 'uid' : base.idea.id|to_uid, 'page' : 1 })) %}
  </section>

</div>
{% endblock %}

{% block navbar %}
{% render(controller("metaIdeaBundle:Idea:navbar", { 'activeMenu' : 'timeline', 'uid' : base.idea.id|to_uid, 'canEdit' : base.canEdit })) %}
{% endblock %}