{% extends 'metaGeneralBundle:FirstRun:base.step.html.twig' %}

{% block step %}

<section>
  <div class="content-full">

    <p>{{ "firstrun.steps.congrats.text"|trans|raw }}</p>

  </div>
</section>

{% endblock %}